{%extends "stack-WF.html" %}

{% block content %}
<section class="height-100 bg--dark text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="h1--large">Oops! <small>We can't find what you're looking for :(</h1>
                <p class="lead">
                    Perhaps you entered a wrong URL, or clicked on a broken link? Please check and try again
                </p>
                <hr/>
                <a href="/">Go back to home page</a> </div>
        </div>
    </div>
</section>
{% end %}
