{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | User Accounts</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <br/><h2>Stears Accounts</h2>
            <ol class="breadcrumbs">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>Manage User Accounts</li>
            </ol>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div id="accounts-table"></div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">
    class UserRow extends React.Component {
        constructor(props) {
            super(props);
            this.handleDelete = this.handleDelete.bind(this);
        }

        deleteUser(userId) {
            const requestUrl = apiUrl + '/users/' + userId;

            // NOTICE: The type of request we're sending here is a 'DELETE' request.
            $.ajax({
                url: requestUrl,
                crossDomain: true,
                type: 'DELETE',
                dataType: 'text',
                processData: false,
                contentType: "application/json; charset=utf-8",

                // Pass the current/active user ID as the data. Remember that the
                // user ID is passed to this component as a property during it's creation
                data: JSON.stringify({"id": userId}),

                // Reload page if AJAX request was successful.
                success: function (data, status) {
                    console.log(data, status);
                    window.location = apiUrl + '/users';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        /*
         Handler for when delete button is clicked.
         */
        handleDelete(event) {
            event.preventDefault();

            // Display confirmation message before sending AJAX request.
            if (confirm("Are you sure you want to delete this record?")) {
                this.deleteUser(this.props.user.user_id);
            }
        }

        /*
         Returns a URL that links to the page for editing user records.
         */
        getUserEditUrl() {
            return "/users/" + this.props.user.user_id + "/edit";
        }

        /*
         Returns a URL that links to the page for display details about a user.
         */
        getUserDetailsUrl() {
            return "/view-user/" + this.props.user.user_id;
        }

        render() {
            console.log(this.props.user);

            // Create HTML elements for the Edit and Delete buttons.
            const editButton = (<a href={this.getUserEditUrl()}>Edit</a>);
            const deleteButton = (<a href='#' onClick={this.handleDelete}>Delete</a>);

            return (
                    <tr>
                        <td>{this.props.user.user_id}</td>
                        <td>
                            <a href={this.getUserDetailsUrl()}>
                                {this.props.user.email}
                            </a>
                        </td>
                        <td>{this.props.user.role}</td>
                        <td>{this.props.user.created_on}</td>
                        <td className="text-center">{editButton}</td>
                        <td className="text-center">{deleteButton}</td>
                    </tr>
            )
        }

    }

    /*
     This component renders a table of user records.
     */
    class UserTable extends React.Component {
        constructor(props) {
            super(props);

            // OPTIONAL: Handy to define state variables.
            this.state = {users: []};
        }

        /*
         Handler that is called when this component is rendered.
         */
        componentDidMount() {
            // Make an AJAX request to fetch data through our REST API.
            this.fetchUsers();
        }

        /*
         Fetches user records from the database through our REST API
         */
        fetchUsers() {
            console.log('Loading Users...');
            const requestUrl = apiUrl + '/users';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, user records have successfully been retrieved from
                     the server. We store them in this component's state variable called `users`
                     */
                    data = JSON.parse(data);
                    const users = data.data.users;
                    this.setState({users: users}, function () {
                        console.log('Users: ',users);
                    });
                }.bind(this) // IMPORTANT: Remember to bind 'this' to the success function.
            })
        }

        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                // The state can be accessible either when data is being loaded or when
                // the component is being mounted. In that case we display a loading message.
                return (
                        <div className="alert alert-info">Retrieving user records</div>
                );
            }
            else {
                let userRows = [];

                // Remember that the fetchUsers() function stored retrieved user records
                // in a state variable called 'users'? Since we know we are likely to retrieve
                // a list of JSON objects, each representing a user records, we can now iterate
                // through them and use them to create another component corresponding to a table row.
                this.state.users.forEach(function (user) {
                    userRows.push(<UserRow user={user} key={user.user_id}/>);
                });

                // Now that's created all the sub-components, each representing a user record/row,
                // we can go ahead and create the markup for rendering this sub-components
                return (
                        <table className="table" cellSpacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Created On</th>
                                <th colSpan="2">Actions</th>
                            </tr>
                            </thead>
                            <tbody>{userRows}</tbody>
                        </table>
                );
            }
        }
    }


    ReactDOM.render(<UserTable />, document.getElementById('accounts-table'));
</script>
{%end%}
