{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | Admin</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg">
    </div>
    <div class="container">
        <div class="row">
            <br/><h2>Welcome, <span>Admin</span></h2>
        </div>
    </div>
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="/tags" class="block">
                    <div class="feature boxed boxed--border border--round">
                      <i class="icon--lg icon-Cloud"></i>
                      <span class="h5 color--primary">Manage Tags</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/posts-page" class="block">
                    <div class="feature boxed boxed--border border--round">
                      <i class="icon--lg icon-Handshake"></i>
                      <span class="h5 color--primary">Manage Posts</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/accounts" class="block">
                    <div class="feature boxed boxed--border border--round">
                      <i class="icon--lg icon-Checked-User"></i>
                      <span class="h5 color--primary">Manage User Accounts</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
{% end %}
