<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    {% block title %}
    <title>Stears</title>
    {% end %}

    <link rel="icon" href="favicon.ico">
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/site.css" rel="stylesheet">

    <!--ReactJS-->
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>

    <script src="/static/js/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>

    <link href="/static/assets/css/ct-paper.css" rel="stylesheet"/>
    <link href="/static/assets/css/demo.css" rel="stylesheet"/>
    <script src="/static/assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <!--  Plugins -->
    <script src="/static/assets/js/ct-paper-checkbox.js"></script>
    <script src="/static/assets/js/ct-paper-radio.js"></script>
    <script src="/static/assets/js/bootstrap-select.js"></script>
    <script src="/static/assets/js/bootstrap-datepicker.js"></script>
    <script src="/static/assets/js/ct-paper.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    {% block dependencies %}
    {% end %}

    {% block styles %}
    {% end %}
</head>
<body>
{% block authentication %}
<script type="text/javascript">
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    /**
     * Configure all AJAX requests going to the same origin to carry the
     * CSRF Token which Django uses for authentication.
     */
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (sameOrigin(settings.url)) {
                // Only send the CSRF token to the same origin
                // const token = Cookies.get("csrftoken"); // or, Cookies.get("_xsrf");
                // xhr.setRequestHeader("X-CSRFToken", token);
            }
        }
    });
</script>
{% end %}
{% set authenticated = "user" in globals() and user is not None %}

{% block nav%}
<nav class="navbar navbar-ct-danger" role="navigation-demo" id="demo-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/">
                <div class="logo-container">
                    <div class="logo">
                        <img src="/static/img/logo.png" alt="Creative Tim Logo">
                    </div>
                    <div class="brand">
                        Stears
                    </div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Posts" class="btn btn-danger btn-simple">Posts</a></li>
                {% if not authenticated %}
                <li><a href="/signup" class="btn btn-danger btn-simple">Sign up</a></li>
                <li><a href="/signin" class="btn btn-danger btn-fill">Sign in</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-danger btn-fill" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/signout">Sign out</a></li>
                    </ul>
                </li>
                {% end %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>
{% end%}

{% block jumbotron %}
{% end %}

{% block content %}
{% end %}

{% block libraries %}
<!-- library imports go here. -->
<script src="/static/js/app.js"></script>
<script src="https://use.fontawesome.com/d28b025371.js"></script>
{% end %}

{% block scripts %}
{% end %}

{% block components %}
{% end %}

</body>
</html>