{% extends "base.html" %}

{%block content%}
<div class="container">
    <h2>This is a CRUD List</h2>

    <!--
    Placeholder for Customer table
    -->
    <div id="customer-table"></div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">
    class CustomerRow extends React.Component {
        constructor(props) {
            super(props);

            // Define Handlers
            // ---------------
            // In this case, we expect this component to do two things:
            //      (a) display a 'delete' button,
            //      (b) handle situations where the delete button is clicked.
            // Naturally, when the delete button is clicked, an AJAX request should
            // be sent to our REST API which will handle the delete operation.
            this.handleDelete = this.handleDelete.bind(this);
        }

        deleteCustomer(customerId) {
            const requestUrl = apiUrl + '/customer/' + customerId;

            // NOTICE: The type of request we're sending here is a 'DELETE' request.
            $.ajax({
                url: requestUrl,
                crossDomain: true,
                type: 'DELETE',
                dataType: 'text',
                processData: false,
                contentType: "application/json; charset=utf-8",

                // Pass the current/active customer ID as the data. Remember that the
                // customer ID is passed to this component as a property during it's creation
                data: JSON.stringify({"id": customerId}),

                // Reload page if AJAX request was successful.
                success: function (data, status) {
                    console.log(data, status);
                    window.location = '/crud/list';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        /*
         Handler for when delete button is clicked.
         */
        handleDelete(event) {
            event.preventDefault();

            // Display confirmation message before sending AJAX request.
            if (confirm("Are you sure you want to delete this record?")) {
                this.deleteCustomer(this.props.customer.id);
            }
        }

        /*
         Returns a URL that links to the page for editing customer records.
         */
        getCustomerEditUrl() {
            return "/crud/edit/" + this.props.customer.customer_id;
        }

        /*
         Returns a URL that links to the page for display details about a customer.
         */
        getCustomerDetailsUrl() {
            return "/crud/detail/" + this.props.customer.customer_id;
        }

        render() {
            console.log(this.props.customer);

            // Create HTML elements for the Edit and Delete buttons.
            const editButton = (<a href={this.getCustomerEditUrl()}>Edit</a>);
            const deleteButton = (<a href='#' onClick={this.handleDelete}>Delete</a>);

            return (
                    <tr>
                        <td>
                            <a href={this.getCustomerDetailsUrl()}>
                                {this.props.customer.customer_id}
                            </a>
                        </td>

                        <td>{this.props.customer.name}</td>
                        <td>{this.props.customer.created_on}</td>
                        <td className="text-center">{editButton}</td>
                        <td className="text-center">{deleteButton}</td>
                    </tr>
            )
        }

    }

    /*
     This component renders a table of customer records.
     */
    class CustomerTable extends React.Component {
        constructor(props) {
            super(props);

            // OPTIONAL: Handy to define state variables.
            this.state = {customers: []};
        }

        /*
         Handler that is called when this component is rendered.
         */
        componentDidMount() {
            // Make an AJAX request to fetch data through our REST API.
            this.fetchCustomers();
        }

        /*
         Fetches customer records from the database through our REST API
         */
        fetchCustomers() {
            console.log('Loading customers...');
            const requestUrl = apiUrl + '/crud/';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, customer records have successfully been retrieved from
                     the server. We store them in this component's state variable called `customers`
                     */
                    this.setState({customers: data.customers});
                }.bind(this) // IMPORTANT: Remember to bind 'this' to the success function.
            })
        }

        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                // The state can be accessible either when data is being loaded or when
                // the component is being mounted. In that case we display a loading message.
                return (
                        <div className="alert alert-info">Retrieving customer records</div>
                );
            }
            else {
                let customerRows = [];

                // Remember that the fetchCustomers() function stored retrieved customer records
                // in a state variable called 'customers'? Since we know we are likely to retrieve
                // a list of JSON objects, each representing a customer records, we can now iterate
                // through them and use them to create another component corresponding to a table row.
                this.state.customers.forEach(function (customer) {
                    customerRows.push(<CustomerRow customer={customer} key={customer.customer_id}/>);
                });

                // Now that's created all the sub-components, each representing a customer record/row,
                // we can go ahead and create the markup for rendering this sub-components
                return (
                        <table className="table" cellSpacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Created On</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>{customerRows}</tbody>
                        </table>
                );
            }
        }
    }

    ReactDOM.render(<CustomerTable />, document.getElementById('customer-table'));
</script>
{%end%}