<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Akhi - Business Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <link href="../static/css/index2.css" rel="stylesheet">
    <link href="../static/css/vendor.css" rel="stylesheet">
    <link href="../static/css/site.css" rel="stylesheet">

    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>


    {% block dependencies %}
    {% end %}

    {% block styles %}
    {% end %}
</head>
<body>
{% block authentication %}
<script type="text/javascript">
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    /**
     * Configure all AJAX requests going to the same origin to carry the
     * CSRF Token which Django uses for authentication.
     */
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (sameOrigin(settings.url)) {
                // Only send the CSRF token to the same origin
//                const token = Cookies.get("csrftoken");
////                const token = Cookies.get("_xsrf");
//                xhr.setRequestHeader("X-CSRFToken", token);
            }
        }
    });
</script>
{% end %}

{% block content %}
{% end %}

{% block libraries %}
<!-- library imports go here. -->
<script src="/static/js/notify.min.js"></script>
<script src="/static/js/app.js"></script>
{% end %}

{% block scripts %}
{% end %}

{% block components %}
{% end %}


<!-- Bootstrap core JavaScript
================================================== -->
<script src="../static/js/jquery/jquery-3.1.1.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>