{% extends "stack.html" %}

{% block title %}
  <title>Submit Post - Stears</title>
{% end %}

{% block nav%}
  <div class="nav-container">
      <nav class="bar bar-4 bar--transparent bar--absolute" data-fixed-at="200">
        <div class="container">
          <div class="row">

              <div class="col-lg-2 col-md-2 col-md-offset-0 col-7">
                  <div class="bar__module">
                      <!-- <a href="/">
                          <img class="logo logo-light" alt="logo" src="static/img/stears_logo.png" />
                      </a> -->
                  </div>
              </div>

              <div class="col-lg-6 col-lg-offset-0 col-md-5 col-md-offset-0 col-5 col-offset-2">
                <div class="bar__module">
                    <a class="btn btn-filled btn--sm type--uppercase" href="/home" >
                        <span class="btn__text">Home</span>
                    </a>

                    <a class="btn btn-filled btn--sm type--uppercase" href="/profile" >
                        <span class="btn__text">My Profile</span>
                    </a>

                    <a class="btn btn-filled btn--sm type--uppercase" href="/signout" >
                        <span class="btn__text">Logout</span>
                    </a>
                </div>
              </div>

          </div>
        </div>
      </nav>
  </div>
{% end%}

{% block content %}
    <section class="space--xs imageblock switchable feature-large">
      <div class="imageblock__content col-lg-6 col-md-4 pos-right" data-overlay="1">

          <div class="background-image-holder">
              <img alt="image" src="static/stack/img/hero-1.jpg" />
          </div>

      </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 pos-left">
                <div class="switchable__text">
                    <h2>Submit a post</h2>

                    <hr class="short">

                    <div id="post-data-form"></div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% end %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
    });
  </script>
{% end %}

{% block components %}
<script type="text/babel">
    //NEW DATA FORM
    class DataForm extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
              title: "",
              body: "",
              tag: "",
              postIdHasErrors: false,
              titleHasErrors: false,
              bodyHasErrors: false,
              tagHasErrors: false,
              formErrors: "",
              dataSubmitted: false,
            };

            this.handleTitleChange = this.handleTitleChange.bind(this);
            this.handleBodyChange = this.handleBodyChange.bind(this);
            this.handleTagChange = this.handleTagChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
            this.resetState = this.resetState.bind(this);
        }

        resetState() {
            this.setState({
              title: "",
              body: "",
              tag: "",
              postIdHasErrors: false,
              titleHasErrors: false,
              bodyHasErrors: false,
              tagHasErrors: false,
              formErrors: "",
            });
            console.log("Resetting state");
        }

        handleTitleChange(event) {
            this.setState({title: event.target.value});
        }

        handleBodyChange(event) {
            this.setState({body: event.target.value});
        }

        handleTagChange(event) {
            this.setState({tag: event.target.value});
        }

        componentDidMount() {
            this.fetchTags();
        }

        fetchTags() {
            console.log('Loading tags...');
            const requestUrl = apiUrl + '/tags';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    data = JSON.parse(data);
                    const tags = data.data.tags;
                    this.setState({tags: tags}, function () {
                        console.log('API Success', tags);
                    });
                }.bind(this)
            })
        }

        formIsValid() {
            this.setState({titleHasErrors: this.state.title == null});
            this.setState({bodyHasErrors: this.state.body == null});
            this.setState({tagHasErrors: this.state.tag == null});

            const hasErrors = this.state.titleHasErrors || this.state.bodyHasErrors
                || this.state.tagHasErrors;

            return !hasErrors;
        }

        handleSubmit(event) {
            $('#btn-submit').attr('disabled',true)
                            .text('Submitting Data...');

            event.preventDefault();
            this.setState({formErrors: ""});

            if (this.formIsValid() && this.state.title.length > 0 && this.state.body.length > 0 && this.state.tag != null) {
                const requestUrl = apiUrl + '/data';
                const payload = {
                    title: this.state.title,
                    body: this.state.body,
                    tag_name: this.state.tag
                };

                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                        404: function () {
                            console.log("Request sent to invalid endpoint", requestUrl);
                            $('#btn-submit').attr('disabled',false)
                                            .text('Submit Data');
                        },
                        401: function () {
                            this.setState({formErrors: "Please check your entries and try again."})
                            $('#btn-submit').attr('disabled',false)
                                            .text('Submit Data');
                        }.bind(this),
                        409: function () {
                            this.setState({formErrors: "Post data already exists, proceed with meeting"})
                            $('#btn-submit').attr('disabled',false)
                                            .text('Submit Data');
                        }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success", data, textStatus, jqXHR);
                        $('#btn-submit').attr('disabled',false)
                                              .text('Submit Data');

                        this.setState({dataSubmitted: true}, function () {
                            setTimeout(function () {
                                this.resetState();
                                window.location = "/home";
                            }.bind(this), 2000);
                        });
                    }.bind(this),
                    error: defaultAJAXErrorHandler.bind(this)
                });
            }
        }

        render() {
          let rows = [];
          let rows1 = [];
          const dataSubmitted = this.state.dataSubmitted;

          if (this.state && this.state.tags) {
              this.state.tags.forEach(function (tag) {
                  rows.push(<option value={tag.name} key={tag.tag_id}>{tag.name}</option>);
              });
          }

          return (
            <div className="form">
                {dataSubmitted &&
                    <div className="alert alert-info">
                        Data submitted successfuly!
                    </div>
                }

                {this.state.formErrors.length > 0 &&
                    <div className="alert alert-danger">
                        {this.state.formErrors}
                    </div>
                }
                <form role="form">
                    <div className="row">
                        <div className={this.state.titleHasErrors ? 'has-error auto-margin col-lg-10' : 'auto-margin col-lg-10'}>
                            <input type="text" id="title" name="title" placeholder="Post Title" onChange={this.handleTitleChange}/>
                            {this.state.titleHasErrors &&
                            <span className="help-block">Post title is required!</span>
                            }
                        </div>

                        <div className={this.state.bodyHasErrors ? 'has-error auto-margin col-lg-10' : 'auto-margin col-lg-10'}>
                            <textarea id="body" name="body" placeholder="Type something..." onChange={this.handleBodyChange} rows="6" cols="80" />
                            {this.state.bodyHasErrors &&
                                <span className="help-block">Post body is required!</span>
                            }
                        </div>

                        <div className={this.state.tagHasErrors ? 'has-error auto-margin col-lg-10' : 'auto-margin col-lg-10'}>
                            <div className="input-select">
                                <select id="tag_name" name="tag_name" onChange={this.handleTagChange}>
                                    <option>Select post tag ...</option>
                                    {rows}
                                </select>
                            </div>
                            {this.state.tagHasErrors &&
                                <span className="help-block">Tag is required</span>
                            }
                        </div>

                        <div className="auto-margin col-lg-10">
                            <button type="submit" id="btn-submit" className="btn btn--primary type--uppercase" onClick={this.handleSubmit}>Submit</button>
                        </div>

                        <hr/>

                        <div className="auto-margin col-lg-10"> <span className="type--fine-print">By submitting, you agree the data captured to be true!</span> </div>
                    </div>
                </form>
                </div>
                )
            }

  }
  ReactDOM.render(<DataForm />, document.getElementById('post-data-form'));
</script>

{% end %}
