{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | View User - {{editor.name}}</title>
{% end %}


{% block jumbotron %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumbs">
                    <li><a href="/accounts">back to Users</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block content %}
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6">
                <div id="update-bio-grid"></div>
            </div>
            <div class="col-sm-5 col-md-4 col-md-offset-1">
                <h2>{{editor.name}} <br/><span style="font-weight: bold; color: #977300">Editor</span></h2>

                <ul class="accordion accordion-2 accordion--oneopen">
                    <li><strong>Email:</strong> {{editor.user.email}}</li>
                    <li><strong>Number of posts:</strong><i> No post submitted yet</i></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class NewMessage extends React.Component {
      constructor(props) {
          super(props);
          this.state = {
               subject:"",
               body: "",
               editor_id: "{{editor.editor_id}}",
               bodyHasErrors: "",
               subjectHasErrors: "",
               toUserHasErrors: "",
               messageSent: false
         };

          this.handleSubjectChange = this.handleSubjectChange.bind(this);
          this.handleBodyChange = this.handleBodyChange.bind(this);
          this.handleSubmit = this.handleSubmit.bind(this);
      }

      handleSubjectChange(event) {
          this.setState({subject: event.target.value});
      }

      handleBodyChange(event) {
          this.setState({body: event.target.value});
      }

      formIsValid() {
          this.setState({bodyHasErrors: this.state.body.trim() == ''});
          this.setState({subjectHasErrors: this.state.subject.trim() == ''});

          const hasErrors = this.state.bodyHasErrors || this.state.subjectHasErrors > 0;

          return !hasErrors
      }

      handleSubmit(event) {
          $('#btn-send-message').attr('disabled',true)
                                .text('Sending Message...');

          event.preventDefault();
          if (this.formIsValid()) {
              const requestUrl = apiUrl + '/editor/message/send/';
              const payload = this.state;

              $.ajax({
                  url: requestUrl,
                  data: payload,
                  type: "POST",
                  processData: true,
                  statusCode: {
                    404: function () {
                        console.log("Message sent to invalid endpoint", requestUrl);
                        $('#btn-send-message').attr('disabled',false)
                                                .text('Send Message');
                    },
                    401: function () {
                        this.setState({formErrors: "Please check your entries and try again."})
                        $('#btn-send-message').attr('disabled',false)
                                                .text('Send Message');
                    }.bind(this),
                    409: function () {
                        this.setState({formErrors: "This Message already exists"})
                        $('#btn-send-message').attr('disabled',false)
                                                .text('Send Message');
                    }.bind(this)
                  },
                  success: function (data, textStatus, jqXHR) {
                      console.log("Success", data, textStatus);
                      $('#btn-send-message').attr('disabled',false)
                                            .text('Send Message');

                      this.setState({messageSent: true}, function () {
                          setTimeout(function () {
                              window.location = "/home";
                          }.bind(this), 2000);
                      });
                  }.bind(this),
                  error: function (jqXHR, textStatus, errorThrown) {
                      console.log("Error");
                      if (jqXHR.status == 401) {
                          console.log('Operation Failed')
                        $('#btn-send-message').attr('disabled',false)
                                                .text('Send Message');
                      }
                      else if (jqXHR.status == 409) {
                          console.log('Operation Failed');
                        $('#btn-send-message').attr('disabled',false)
                                                .text('Send Message');
                      } else {
                          console.log(jqXHR, textStatus, errorThrown);
                            ß                            .text('Send Message');
                      }
                  }.bind(this)
              });
          }
      }

      render(){
        let rows = [];
        if (this.state && this.state.editor) {
            this.state.editor.forEach(function (editor) {
                rows.push(<option value={editor.name} key={editor.editor_id}>{editor.name}</option>);
            });
        }

        if (this.state && this.state.messageSent) {
            return (<div className="alert alert-success">Message sent!</div>)
        }
         return (
           <form role="form">
               <div className="row">
                   <div className={this.state.subjectHasErrors ? 'form-group has-error col-sm-12' : 'form-group col-sm-12'}>
                       <input type="text" id="subject" name="subject" placeholder="Subject" onChange={this.handleSubjectChange}/>
                       {this.state.subjectHasErrors}
                   </div>
                   <input type="hidden" id="editor_id" name="editor_id"/>
                   <div className={this.state.bodyHasErrors ? 'form-group has-error col-sm-12' : 'form-group col-sm-12'}>
                       <textarea rows="3" id="body" name="body" placeholder="Type your message here..." onChange={this.handleBodyChange}></textarea>
                      {this.state.bodyHasErrors &&
                      <span className="help-block">Message cannot be blank</span>}
                   </div>
                   <div className="col-sm-12">
                       <button type="submit" id="btn-send-message" className="btn btn--primary" onClick={this.handleSubmit}>Send Message</button>
                   </div>
               </div>
           </form>
         );
      }
    }

    //UPDATE BIO GRID
    class UpdateEditorBio extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                    editorName: "{{editor.name}}",
                    editorEmail: "{{user.email}}",
                    editorNameHasErrors: "",
                    editorEmailHasErrors: "",
                    formError: "",
                    bioSaved: false
            };

            this.handleEditorNameChange = this.handleEditorNameChange.bind(this);
            this.handleEditorEmailChange = this.handleEditorEmailChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleEditorNameChange(event) {
            this.setState({editorName: event.target.value});
        }

        handleEditorEmailChange(event) {
            this.setState({editorEmail: event.target.value});
        }

        formIsValid() {
            this.setState({editorNameHasErrors: this.state.editorName.trim() == ''});
            this.setState({editorEmailHasErrors: this.state.editorEmail.trim() == ''});

            const hasErrors = this.state.editorNameHasErrors || this.state.editorEmailHasErrors
                || this.state.formError.length > 0;

            return !hasErrors
        }

        handleSubmit(event) {
            $('#btn-update-profile').attr('disabled',true)
                                 .text('Updating Profile...');

            event.preventDefault();
            this.setState({formError: ""});

            const proceed = this.formIsValid() && this.state.editorName.length > 0 &&
                this.state.editorEmail.length > 0;

            if (proceed) {
                const requestUrl = "/user/edit/" + {{user.user_id}};
                const payload = this.state;

                console.log("Sending", payload, "to", requestUrl);
                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                      404: function () {
                          console.log("Request sent to invalid endpoint", requestUrl);
                          $('#btn-update-profile').attr('disabled',false)
                                                  .text('Update Profile');
                      },
                      401: function () {
                          this.setState({formErrors: "Please check your entries and try again."})
                          $('#btn-update-profile').attr('disabled',false)
                                                  .text('Update Profile');
                      }.bind(this),
                      409: function () {
                          this.setState({formErrors: "This Account detail already exists"})
                          $('#btn-update-profile').attr('disabled',false)
                                                  .text('Update Profile');
                      }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success", data, textStatus);
                        $('#btn-update-profile').attr('disabled',false)
                                                .text('Update Profile');

                        this.setState({bioSaved: true}, function () {
                            setTimeout(function () {
                                window.location = "/accounts";
                            }.bind(this), 2000);
                        });
                    }.bind(this),
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Operation Failed')
                            $('#btn-update-profile').attr('disabled',false)
                                                    .text('Update Profile');
                        }
                        else if (jqXHR.status == 409) {
                            console.log('Operation Failed');
                            $('#btn-update-profile').attr('disabled',false)
                                                    .text('Update Profile');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    }.bind(this)
                });
            }
            else {
                $('#btn-update-profile').attr('disabled',false)
                                        .text('Update Profile');
            }
        }

        render() {
            const bioSaved = this.state.bioSaved;


            return (
                    <div>
                      {bioSaved &&
                      <div className="alert alert-info">
                           Editor Bio has been updated!
                      </div>
                      }

                      <div className="form">
                          {this.state.formError.length > 0 &&
                          <div className="alert alert-danger">
                              {this.state.formError}
                          </div>
                          }
                          <form role="form">
                              <div className="row">
                                  <div className={this.state.editorNameHasErrors ? 'form-group has-error col-sm-6' : 'form-group col-sm-6'}>
                                      <label>Editor Name:</label>
                                      <input type="text" id="editorName" name="editorName"
                                      value={this.state.editorName} onChange={this.handleEditorNameChange}/>
                                     {this.state.editorNameHasErrors &&
                                     <span className="help-block">Editor Name cannot be blank</span>}
                                  </div>

                                  <div className={this.state.editorEmailHasErrors ? 'form-group has-error col-sm-8' : 'form-group col-sm-8'}>
                                      <label>Email Address:</label>
                                      <input type="email" id="editorEmail" name="editorEmail"
                                             value={this.state.editorEmail} onChange={this.handleEditorEmailChange}/>
                                      {this.state.editorEmailHasErrors &&
                                      <span className="help-block">Email is required</span>
                                      }
                                  </div>

                                  <div className="col-md-6 col-sm-6">
                                      <button type="submit" id="btn-update-profile"
                                      className="btn btn--primary type--uppercase"
                                      onClick={this.handleSubmit}>Update Profile</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
            )
        }
    }

    //ReactDOM.render(<NewMessage />, document.getElementById('send-message'));
    ReactDOM.render(<UpdateEditorBio />, document.getElementById('update-bio-grid'));

</script>
{% end %}
