{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | {{postdata.title}}</title>
{% end %}


{% block jumbotron %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumbs">
                    <li><a href="/home">back to Posts</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block content %}
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6">
                <div id="update-info-grid"></div>
            </div>
            <div class="col-sm-5 col-md-4 col-md-offset-1">
                <h2>{{postdata.title}} <br/>
                  <span style="font-weight: bold; color: #977300">{{postdata.tag_name}}</span>
                </h2>

                <ul class="accordion accordion-2 accordion--oneopen">
                    <li><strong>Posted by:</strong> {{postdata.posted_by}}</li>
                    <li><strong>Date:</strong> {{postdata.created_at}}</li><br />
                    <li><strong>Body:</strong><br /> {{postdata.body}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">
    //UPDATE BIO GRID
    class UpdatePostDataInfo extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                    postTitle: "{{postdata.title}}",
                    postBody: "{{postdata.body}}",
                    postTitleHasErrors: "",
                    postBodyHasErrors: "",
                    formError: "",
                    infoSaved: false
            };

            this.handlePostTitleChange = this.handlePostTitleChange.bind(this);
            this.handlePostBodyChange = this.handlePostBodyChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handlePostTitleChange(event) {
            this.setState({postTitle: event.target.value});
        }

        handlePostBodyChange(event) {
            this.setState({postBody: event.target.value});
        }

        formIsValid() {
            this.setState({postTitleHasErrors: this.state.postTitle.trim() == ''});
            this.setState({postBodyHasErrors: this.state.postBody.trim() == ''});

            const hasErrors = this.state.postTitleHasErrors || this.state.postBodyHasErrors
                || this.state.formError.length > 0;

            return !hasErrors
        }

        handleSubmit(event) {
            $('#btn-update-post').attr('disabled',true)
                                 .text('Updating Post...');

            event.preventDefault();
            this.setState({formError: ""});

            const proceed = this.formIsValid() && this.state.postTitle.length > 0 &&
                this.state.postBody.length > 0;

            if (proceed) {
                const requestUrl = "/postdata/edit/" + {{postdata.post_id}};
                const payload = this.state;

                console.log("Sending", payload, "to", requestUrl);
                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                      404: function () {
                          console.log("Request sent to invalid endpoint", requestUrl);
                          $('#btn-update-post').attr('disabled',false)
                                                  .text('Update Post');
                      },
                      401: function () {
                          this.setState({formErrors: "Please check your entries and try again."})
                          $('#btn-update-post').attr('disabled',false)
                                                  .text('Update Post');
                      }.bind(this),
                      409: function () {
                          this.setState({formErrors: "This Account detail already exists"})
                          $('#btn-update-post').attr('disabled',false)
                                                  .text('Update Post');
                      }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success", data, textStatus);
                        $('#btn-update-post').attr('disabled',false)
                                                .text('Update Post');

                        this.setState({bioSaved: true}, function () {
                            setTimeout(function () {
                                window.location = "/posts";
                            }.bind(this), 2000);
                        });
                    }.bind(this),
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Operation Failed')
                            $('#btn-update-post').attr('disabled',false)
                                                    .text('Update Post');
                        }
                        else if (jqXHR.status == 409) {
                            console.log('Operation Failed');
                            $('#btn-update-post').attr('disabled',false)
                                                    .text('Update Post');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    }.bind(this)
                });
            }
            else {
                $('#btn-update-post').attr('disabled',false)
                                        .text('Update Post');
            }
        }

        render() {
            const infoSaved = this.state.infoSaved;
            
            return (
                    <div>
                      {infoSaved &&
                      <div className="alert alert-info">
                           Post info has been updated!
                      </div>
                      }

                      <div className="form">
                          {this.state.formError.length > 0 &&
                          <div className="alert alert-danger">
                              {this.state.formError}
                          </div>
                          }
                          <form role="form">
                              <div className="row">
                                  <div className={this.state.postTitleHasErrors ? 'form-group has-error col-sm-6' : 'form-group col-sm-6'}>
                                      <label>Post title:</label>
                                      <input type="text" id="postTitle" name="postTitle" value={this.state.postTitle} onChange={this.handlePostTitleChange}/>
                                     {this.state.postTitleHasErrors &&
                                     <span className="help-block">Post title cannot be blank</span>}
                                  </div>

                                  <div className={this.state.postBodyHasErrors ? 'form-group has-error col-sm-6' : 'form-group col-sm-6'}>
                                      <label>Post Body:</label>
                                      <textarea id="postBody" name="postBody" value={this.state.postBody} onChange={this.handlePostBodyChange} />
                                      {this.state.postBodyHasErrors &&
                                        <span className="help-block">Post body is required</span>
                                      }
                                  </div>

                                  <div className="col-md-6 col-sm-6">
                                      <button 
                                      type="submit" 
                                      id="btn-update-post" 
                                      className="btn btn--primary type--uppercase"
                                      onClick={this.handleSubmit}>Update Post</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
            )
        }
    }

    ReactDOM.render(<UpdatePostDataInfo />, document.getElementById('update-info-grid'));

</script>
{% end %}
