{% extends "stack-WF.html" %}

{% block title %}
<title>Stears | Edit Tag</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <br/><br/><h2>CRM Tags</h2>
            <ol class="breadcrumbs">
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>Manage Tags</li>
            </ol>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row tag-forms">
            <div id="edit-tag"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">Tags</h3>
                <hr class="short">
            </div>

            <div id="tag-display"></div>
        </div>

    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class Tags extends React.Component {
        constructor(props) {
            super(props);
            this.handleDelete = this.handleDelete.bind(this);
        }

        deleteTag(tagId) {
            const requestUrl = apiUrl + '/tags/' + tagId;

            // NOTICE: The type of request we're sending here is a 'DELETE' request.
            $.ajax({
                url: requestUrl,
                crossDomain: true,
                type: 'DELETE',
                dataType: 'text',
                processData: false,
                contentType: "application/json; charset=utf-8",

                // Pass the current/active tag ID as the data. Remember that the
                // tag ID is passed to this component as a property during it's creation
                data: JSON.stringify({"id": tagId}),

                // Reload page if AJAX request was successful.
                success: function (data, status) {
                    console.log(data, status);
                    window.location = '/tags';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        /*
         Handler for when delete button is clicked.
         */
        handleDelete(event) {
            event.preventDefault();

            // Display confirmation message before sending AJAX request.
            if (confirm("Are you sure you want to delete this record?")) {
                this.deleteTag(this.props.tags.tag_id);
            }
        }

        render() {
            console.log(this.props.tags);

            return (
              <div className="col-sm-3">
                <div className="feature feature-1 boxed boxed--border">
                    <h5>{this.props.tags.name}</h5>

                    <a href={this.showEditPanel}>Edit</a> |
                    <a href="#" onClick={this.handleDelete}>Delete</a>

                </div>
              </div>
            );
        }
    }

    class TagGrid extends React.Component {
        constructor(props) {
            super(props);

            this.state = {tags: []};
        }

        componentDidMount() {
            this.fetchtags();
        }

        fetchtags() {
            console.log('Loading tags...');
            const requestUrl = apiUrl + '/tags';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, tag records have successfully been retrieved from
                     the server. We store them in this component's state variable called `tags`
                     */
                    data = JSON.parse(data);
                    const tags = data.data.tags;
                    console.log('Tags: ',tags)
                    this.setState({tags: tags});
                }.bind(this)
            })
        }
        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                return (
                      <h3>Retrieving tags...</h3>
                );
            }
            else {
                let tagCards = [];

                this.state.tags.forEach(function (tag) {
                    tagCards.push(<Tags tags={tag} key={tag.tag_id}/>);
                });

                return (
                      <div>{tagCards}</div>
                );
            }
        }
    }

    class EditTag extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                    tagName: "{{tag.name}}",
                    tagNameHasErrors: "",
                    formError: "",
                    tagUpdated: false
            };

            this.handleTagNameChange = this.handleTagNameChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
            this.handleCancel = this.handleCancel.bind(this);
        }

        handleTagNameChange(event) {
            this.setState({tagName: event.target.value});
        }

        formIsValid() {
            this.setState({tagNameHasErrors: this.state.tagName.trim() == ''});

            const hasErrors = this.state.tagNameHasErrors || this.state.formError.length > 0;

            return !hasErrors
        }

        handleCancel(event) {
            event.preventDefault();

            window.location = "/tags";
        }

        handleSubmit(event) {
            $('#btn-update-tag').attr('disabled',true)
                                 .text('Updating Tag...');

            event.preventDefault();
            this.setState({formError: ""});

            const proceed = this.formIsValid() && this.state.tagName.length > 0;

            if (proceed) {
                const requestUrl = apiUrl + "/tags/" + {{tag.tag_id}} + "/edit";
                const payload = this.state;

                console.log("Sending", payload, "to", requestUrl);
                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                      404: function () {
                          console.log("Request sent to invalid endpoint", requestUrl);
                          $('#btn-update-tag').attr('disabled',false)
                                                  .text('Update Tag');
                      },
                      401: function () {
                          this.setState({formErrors: "Please check your entries and try again."})
                          $('#btn-update-tag').attr('disabled',false)
                                                  .text('Update Tag');
                      }.bind(this),
                      409: function () {
                          this.setState({formErrors: "This Tag detail already exists"})
                          $('#btn-update-tag').attr('disabled',false)
                                                  .text('Update Tag');
                      }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success", data, textStatus);
                        $('#btn-update-tag').attr('disabled',false)
                                                .text('Update Tag');

                        this.setState({tagUpdated: true}, function () {
                            setTimeout(function () {
                                window.location = "/tags";
                            }.bind(this), 2000);
                        });
                    }.bind(this),
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Operation Failed')
                            $('#btn-update-tag').attr('disabled',false)
                                                    .text('Update Tag');
                        }
                        else if (jqXHR.status == 409) {
                            console.log('Operation Failed');
                            $('#btn-update-tag').attr('disabled',false)
                                                    .text('Update Tag');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    }.bind(this)
                });
            }
            else {
                $('#btn-update-tag').attr('disabled',false)
                                        .text('Update Tag');
            }
        }

        render() {
            const tagUpdated = this.state.tagUpdated;

            return (
                <div className="col-sm-12 col-md-6">
                    <div className="panel panel-default">
                        <div className="panel-heading">
                            <h3 className="panel-title">Edit Tag</h3>
                            <hr className="short"/>
                        </div>
                        {tagUpdated &&
                            <div className="alert alert-info">
                                Tag has been updated!
                            </div>
                        }
                        <div className="panel-body">
                            {this.state.formError.length > 0 &&
                            <div className="alert alert-danger">
                                {this.state.formError}
                            </div>
                            }
                            <form role="form">
                                <div className="form-group">
                                    <label>Tag Name</label>
                                    <input type="text" id="name" name="tagName" placeholder="Tag Name"
                                        value={this.state.tagName} onChange={this.handleTagNameChange} />
                                    {this.state.tagNameHasErrors &&
                                        <span className="help-block">Tag Name is required</span>
                                    }
                                </div>
                                <div className="row">
                                    <div class="col-md-6">
                                    <button type="submit" id="btn-update-tag" onClick={this.handleSubmit}
                                    className="btn btn-default btn--primary col-md-12">Update Tag</button>
                                    </div>
                                    <div class="col-md-6">
                                    <button type="submit" onClick={this.handleCancel}
                                    className="btn btn-default btn--primary col-md-12">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            )
        }
    }

    ReactDOM.render(<TagGrid />, document.getElementById('tag-display'));
    ReactDOM.render(<EditTag />, document.getElementById('edit-tag'));

</script>
{%end%}
