{% extends "stack.html" %}

{% block nav%}
  <div class="nav-container">
      <nav class="bar bar-4 bar--transparent bar--absolute" data-fixed-at="200">
        <div class="container">
          <div class="row">

              <div class="col-lg-2 col-md-2 col-md-offset-0 col-7">
                  <div class="bar__module">
                      <a href="/">
                          <img class="logo logo-light" alt="logo" src="static/img/logo-light.png" />
                      </a>
                  </div>
              </div>

          </div>
        </div>
      </nav>
  </div>
{% end%}

{% block content %}
  <section class="imageblock switchable feature-large height-100 ">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right" data-overlay="1">

        <div class="background-image-holder">
            <img alt="image" src="static/img/bg.jpg" />
        </div>

    </div>

    <div class="container pos-vertical-center">
      <div class="row ">
        <div id="parent" class="col-lg-5 col-md-7">
          <h3 class="mb-0">Editor Login</h3>
          <hr class="short">
          <div class="bg--secondary boxed boxed--border">

            <div id="signin-form"></div>
            <span class="type--fine-print block">Dont have an account yet?
                <a href="mailto:support@blackgroup.com.ng">Contact</a> Black Group with your official 
                email account.
            </span>
            <span class="type--fine-print block">Forgot your username or password?
                <a href="/password/recover">Recover account</a>
            </span>

          </div>
        </div>
      </div>
    </div>
  </section>
{% end %}

{% block scripts %}
  <script type="text/javascript">
      $(document).ready(function () {
      });
  </script>
{% end %}

{% block components %}
  <script type="text/babel">
      class LoginForm extends React.Component {
          constructor(props) {
            super(props);
            this.state = {
                username: "",
                password: "",
                usernameHasErrors: false,
                passwordHasErrors: false,
                formErrors: ""
            };

            this.handleUserNameChange = this.handleUserNameChange.bind(this);
            this.handlePasswordChange = this.handlePasswordChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
          }

          handleUserNameChange(event) {
              this.setState({username: event.target.value});
          }

          handlePasswordChange(event) {
              this.setState({password: event.target.value});
          }

          formIsValid() {
              console.log("Entering formIsValid()");
              this.setState({usernameHasErrors: this.state.username.trim() == ''});
              this.setState({passwordHasErrors: this.state.password.trim() == ''});
              const hasErrors = this.state.usernameHasErrors || this.state.passwordHasErrors;
              console.log("Exiting formIsValid() ->", hasErrors);
              return !hasErrors
          }

          handleSubmit(event) {
              $('#btn-signin').attr('disabled',true)
                              .text('Logging in...');

              event.preventDefault();

              this.setState({formErrors: ""});

              if (this.formIsValid()) {
                  const requestUrl = apiUrl + "/login";
                  const payload = {username: this.state.username, password: this.state.password};

                  $.ajax({
                      url: requestUrl,
                      data: payload,
                      type: "POST",
                      processData: true,
                      statusCode: {
                          404: function () {
                              console.log("Request sent to invalid endpoint", requestUrl);
                              $('#btn-signin').attr('disabled',false)
                                              .text('Login');
                          },
                          401: function () {
                              this.setState({formErrors: "Please check your entries and try again."})
                              $('#btn-signin').attr('disabled',false)
                                              .text('Login');
                          }.bind(this)
                      },

                      success: function (data, textStatus, jqXHR) {
                          console.log("Success");
                          console.log(data, textStatus, jqXHR);
                          window.location = baseUrl + '/home';
                      },

                      error: function (jqXHR, textStatus, errorThrown) {
                          console.log("Error");
                          if (jqXHR.status == 401) {
                              console.log('Login Failed')
                              $('#btn-signin').attr('disabled',false)
                                              .text('Login');
                          } else {
                              console.log(jqXHR, textStatus, errorThrown);
                          }
                      }
                  });
              }
          }

          render() {
              return (
                <form id="login-form" role="form">
                  {this.state.formErrors.length > 0 &&
                    <div className="alert alert-danger">
                        {this.state.formErrors}
                    </div>
                  }

                  <div className="row">
                      <div className={this.state.usernameHasErrors ? 'has-error auto-margin col-lg-10' : 'auto-margin col-lg-10'}>
                          <input type="email" id="username" name="username"
                          placeholder="Email address" onChange={this.handleUserNameChange} />
                          {this.state.usernameHasErrors &&
                          <span className="help-block">Username/Email cannot be blank</span>}
                      </div>

                      <div className={this.state.passwordHasErrors ? 'has-error auto-margin col-lg-10' : 'auto-margin col-lg-10'}>
                          <input type="password" id="password" name="password"
                          placeholder="Password" onChange={this.handlePasswordChange} />
                          {this.state.passwordHasErrors &&
                            <span className="help-block">Password cannot be blank</span>}
                      </div>

                      <div className={this.state.passwordHasErrors ? 'has-error auto-margin col-lg-10' : 'auto-margin col-lg-10'}>
                          <button type="submit" id="btn-signin"
                          className="btn btn--primary type--uppercase" onClick={this.handleSubmit}>Log in</button>
                      </div>
                  </div>

                </form>
              );
          }
      }

      ReactDOM.render(<LoginForm />, document.getElementById('signin-form'));
  </script>
{% end %}
