{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | Login</title>
{% end %}

{%block content%}
    <section class="height-100 imagebg text-center" data-overlay="6">
        <div class="background-image-holder">
            <img alt="background" src="static/stack/img/hero-1.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-7 col-md-5">
                    <h2>Stears Login</h2>
                    <p class="lead">
                        Welcome back, sign in with your existing account credentials
                    </p>
                    <div id="login-form"></div>
                    <span class="type--fine-print block">
                        Dont have an account yet? <a href="/signup">Signup</a>.
                    </span>
                    <span class="type--fine-print block">Forgot your username or password?
                        <a href="/password/recover">Recover account</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% end %}

{% block footer %}
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class LoginForm extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                username: "",
                password: "",
                usernameHasErrors: false,
                passwordHasErrors: false,
                formErrors: ""
            };

            this.handleUserNameChange = this.handleUserNameChange.bind(this);
            this.handlePasswordChange = this.handlePasswordChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleUserNameChange(event) {
            this.setState({username: event.target.value});
        }

        handlePasswordChange(event) {
            this.setState({password: event.target.value});
        }

        formIsValid() {
            console.log("Entering formIsValid()");
            this.setState({usernameHasErrors: this.state.username.trim() == ''});
            this.setState({passwordHasErrors: this.state.password.trim() == ''});
            const hasErrors = this.state.usernameHasErrors || this.state.passwordHasErrors;
            console.log("Exiting formIsValid() ->", hasErrors);
            return !hasErrors
        }

        handleSubmit(event) {
            $('#btn-signin').attr('disabled',true)
                            .text('Logging in...');

            event.preventDefault();

            this.setState({formErrors: ""});

            if (this.formIsValid()) {
                const requestUrl = apiUrl + "/login";
                const payload = {username: this.state.username, password: this.state.password};

                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                        404: function () {
                            console.log("Request sent to invalid endpoint", requestUrl);
                            $('#btn-signin').attr('disabled',false)
                                            .text('Log in');
                        },
                        401: function () {
                            this.setState({formErrors: "Please check your entries and try again."})
                            $('#btn-signin').attr('disabled',false)
                                            .text('Log in');
                        }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success");
                        console.log(data, textStatus, jqXHR);
                        window.location = baseUrl + '/home';
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Login Failed')
                            $('#btn-signin').attr('disabled',false)
                                            .text('Log in');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    }
                });
            }
        }

        render() {
            return (
                  <div className="form">
                      {this.state.formErrors.length > 0 &&
                      <div className="alert alert-danger">
                          {this.state.formErrors}
                      </div>
                      }
                      <form>
                            <div className="row">
                                <div className={this.state.usernameHasErrors ? 'has-error col-xs-12' : 'col-xs-12'}>
                                    <input type="email" id="username" name="username" placeholder="Email address or username" onChange={this.handleUserNameChange}/>
                                   {this.state.usernameHasErrors &&
                                   <span className="help-block">Username cannot be blank</span>}
                                </div>

                                <div className={this.state.passwordHasErrors ? 'has-error col-xs-12' : 'col-xs-12'}>
                                    <input type="password" id="password" name="password" placeholder="Password" onChange={this.handlePasswordChange}/>
                                   {this.state.passwordHasErrors &&
                                   <span className="help-block">Password cannot be blank</span>}
                                 </div>

                                <div className="col-xs-12">
                                    <button type="submit" id="btn-signin" className="btn btn--primary type--uppercase" onClick={this.handleSubmit}>Log in</button>
                                </div>
                            </div>
                      </form>
                  </div>
            )
        }
    }


    ReactDOM.render(<LoginForm />, document.getElementById('login-form'));
</script>

{% end %}
