{% extends "stack-WF.html" %}

{% block title %}
<title>CRM | Reset Password</title>
{% end %}

{%block content%}
<section class="height-100 imagebg text-center" data-overlay="6">
    <div class="background-image-holder">
        <img alt="background" src="/static/img/bg.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-7 col-md-5">
              <input type="hidden" id='token' name='token' value='{{token}}'>
              <h2>Reset Password</h2>
              <div id="password-reset-form"></div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<div id="password-reset"></div>

{% end %}

{% block footer %}
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class PasswordResetForm extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                password: "",
                passwordAgain: "",
                passwordHasErrors: false,
                passwordAgainHasErrors: false,
                formError: "",
                invalidToken: false,
                passwordChanged: false
            };

            this.handlePasswordChange = this.handlePasswordChange.bind(this);
            this.handlePasswordAgainChange = this.handlePasswordAgainChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handlePasswordChange(event) {
            this.setState({password: event.target.value});
        }

        handlePasswordAgainChange(event) {
            this.setState({passwordAgain: event.target.value});
        }

        formIsValid() {
            console.log("Entering formIsValid()");
            this.setState({passwordHasErrors: this.state.password.trim() == ''});
            this.setState({passwordAgainHasErrors: this.state.passwordAgain.trim() == ''});
            if (this.state.password == this.state.passwordAgain) {
                this.setState({formError: ''});
            } else {
                this.setState({formError: 'Passwords do not match'});
            }
            const hasErrors = this.state.passwordHasErrors || this.state.passwordAgainHasErrors
                || this.state.formError.length > 0;
            console.log("Exiting formIsValid() ->", hasErrors);
            return !hasErrors
        }

        handleSubmit(event) {
            $('#btn-reset-password').attr('disabled',true)
                                                        .text('Resetting Password...');

            event.preventDefault();
            this.setState({formError: ""}, function () {
                console.log("Reset formError flag");
            });

            if (this.formIsValid()) {
                const requestUrl = apiUrl + "/password/reset";
                const payload = {password: this.state.password, token: this.props.token};
                console.log("Sending", payload, "to", requestUrl)
                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                        404: function () {
                            this.setState({invalidToken: true});
                            $('#btn-reset-password').attr('disabled',false)
                                                                      .text('Reset Password');
                        }.bind(this),
                        401: function () {
                            this.setState({formError: "Please check your entries and try again."})
                            $('#btn-reset-password').attr('disabled',false)
                                                                      .text('Reset Password');
                        }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        $('#btn-reset-password').attr('disabled',false)
                                                                  .text('Reset Password');

                        this.setState({passwordChanged: true}, function () {
                            setTimeout(function () {
                                window.location = "/signin";
                            }.bind(this), 2000);
                        });
                    }.bind(this),
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Login Failed');
                            $('#btn-reset-password').attr('disabled',false)
                                                                      .text('Reset Password');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                            $('#btn-reset-password').attr('disabled',false)
                                                                      .text('Reset Password');
                        }
                    }
                });
            }
        }

        render() {
            const invalidTokenHtml = (
                <div className="alert alert-info">
                    <strong>Invalid Token:</strong> Your reset token seems to be invalid or expired.
                </div>
            );
            const passwordChangedHtml = (
                <div className="alert alert-info">
                    Your password has been changed successfully!
                </div>
            );
            const formHtml = (
                    <div className="form">
                        {this.state.formError.length > 0 &&
                        <div className="alert alert-danger">
                            {this.state.formError}
                        </div>
                        }
                        <form>
                            <div className={this.state.passwordHasErrors ? 'form-group has-error' : 'form-group'}>
                                <input type="password"
                                       id="password"
                                       name="password"
                                       placeholder="New password"
                                       onChange={this.handlePasswordChange}/>
                                {this.state.passwordHasErrors &&
                                <span className="help-block">Password cannot be blank</span>}
                            </div>
                            <div className={this.state.passwordAgainHasErrors ? 'form-group has-error' : 'form-group'}>
                                <input type="password" id="password" name="password"
                                       placeholder="New password (again)" onChange={this.handlePasswordAgainChange}/>
                                {this.state.passwordAgainHasErrors &&
                                <span className="help-block">Password cannot be blank</span>}
                            </div>

                            <button type="submit" id="btn-reset-password" className="btn btn--primary type--uppercase"
                                    onClick={this.handleSubmit}>
                                Reset Password
                            </button>

                        </form>
                    </div>
            );
            if (this.state.invalidToken) {
                return invalidTokenHtml;
            }
            if (this.state.passwordChanged) {
                return passwordChangedHtml;
            }
            else {
                return formHtml;
            }

        }
    }

    const token = $('#token').val();
    ReactDOM.render(<PasswordResetForm token={token}/>, document.getElementById('password-reset-form'));
</script>

{% end %}
