{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | Password Recovery</title>
{% end %}

{%block content%}
<section class="height-100 imagebg text-center" data-overlay="6">
    <div class="background-image-holder">
        <img alt="background" src="/static/stack/img/hero-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-7 col-md-5">
                <h2>Need help with your password?</h2>
                <p class="lead">Enter the email you use, and we’ll help you create a new password.</p>
                <div id="password-recovery"></div>
                <span class="type--fine-print block">
                    Dont have an account yet? <a href="/signup">Signup</a>.
                </span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% end %}

{% block footer %}
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class PasswordRecoveryForm extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                email: "",
                emailHasErrors: false,
                recoveryError: "",
                recoveryEmailSent: false,
            };

            this.handleEmailChange = this.handleEmailChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleEmailChange(event) {
            this.setState({email: event.target.value});
        }

        formIsValid() {
            console.log("Entering formIsValid()");
            this.setState({emailHasErrors: this.state.email.trim() == ''});
            const hasErrors = this.state.emailHasErrors;
            console.log("Exiting formIsValid() ->", hasErrors);
            return !hasErrors
        }

        handleSubmit(event) {
            $('#btn-recover-password').attr('disabled',true)
                                                        .text('Recovering Password...');

            event.preventDefault();
            this.setState({recoveryError: ""}, function () {
                console.log("Reset recoveryError flag");
            });

            if (this.formIsValid()) {
                const requestUrl = apiUrl + "/password/recover";
                const payload = {email: this.state.email};
                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                        404: function () {
                            console.log("Request sent to invalid endpoint", requestUrl);
                            $('#btn-recover-password').attr('disabled',false)
                                                                        .text('Recover Password');
                        },
                        401: function () {
                            this.setState({recoveryError: "Please check your entries and try again."});
                            $('#btn-recover-password').attr('disabled',false)
                                                                        .text('Recover Password');
                        }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        $('#btn-recover-password').attr('disabled',false)
                                                                    .text('Recover Password');

                        this.setState({recoveryEmailSent: true}, function () {
                            setTimeout(function () {
                                window.location = "/home";
                            }.bind(this), 2000);
                        });
                    }.bind(this),
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Operation Failed')
                            $('#btn-recover-password').attr('disabled',false)
                                                                        .text('Recover Password');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                            $('#btn-recover-password').attr('disabled',false)
                                                                        .text('Recover Password');
                        }
                    }
                });
            }
        }


        render() {
            const recoveryEmailSent = this.state.recoveryEmailSent;

            return (
                <div>
                        {recoveryEmailSent &&
                          <div className="alert alert-info">
                              We have sent you an email with instructions about resetting your password.
                          </div>
                        }
                        <div className="form">
                            {this.state.recoveryError.length > 0 &&
                            <div className="alert alert-danger">
                                {this.state.recoveryError}
                            </div>
                            }
                            <form>
                                <div className={this.state.emailHasErrors ? 'form-group has-error' : 'form-group'}>
                                    <input type="email" id="email" name="email" placeholder="Email Address" onChange={this.handleEmailChange}/>
                                   {this.state.emailHasErrors &&
                                   <span className="help-block">Email cannot be blank</span>}
                               </div>
                                <button id="btn-recover-password" className="btn btn--primary type--uppercase" type="submit" onClick={this.handleSubmit}>Recover Password</button>
                            </form>
                        </div>
                </div>
            )
        }
    }

    // class SearchForm extends React.Component {
    //     constructor(props) {
    //         super(props);
    //         this.state = {query: ""};

    //         // Bind event handlers.
    //         this.queryChanged = this.queryChanged.bind(this);
    //         this.formSubmitted = this.formSubmitted.bind(this);
    //     }

    //     queryChanged(e) {
    //         this.setState({query: e.target.value});
    //     }

    //     formSubmitted(e) {
    //         e.preventDefault();
    //         if (this.state.query.length > 0) {
    //             console.log('formSubmitted');
    //             window.location = baseUrl + '/search?q=' + this.state.query;
    //         }
    //     }

    //     render() {
    //         return (
    //                 <form onSubmit={this.formSubmitted}>
    //                     <input type="search" placeholder="Search..." name="query" onChange={this.queryChanged}/>
    //                 </form>
    //         );
    //     }
    // }

    // ReactDOM.render(<SearchForm/>, document.getElementById('search-form'));
    ReactDOM.render(<PasswordRecoveryForm />, document.getElementById('password-recovery'));

</script>

{% end %}
