{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | Post Data</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
<div class="background-image-holder"> 
    <img alt="background" src="/static/stack/img/hero-1.jpg"> </div>
    <div class="container">
        <div class="row">
            <h2>Posts Data</h2>
        </div>
    </div>
</section>

<section class="pt-3">
    <div class="container">
        <div class="masonry-filter-container">
            <div class="masonry-filter-holder" style="width: 100%">
                <div class="bar__module">
                  <div class="col-md-8">
                    <a class="btn btn--sm type--uppercase"  href="/search?q=microeconomic">
                        <span class="btn__text">
                            Microeconomic
                        </span>
                    </a>
                    <a class="btn btn--sm type--uppercase"  href="/search?q=finance">
                        <span class="btn__text">
                            Finance
                        </span>
                    </a>
                    <a class="btn btn--sm type--uppercase"  href="/search?q=markets">
                        <span class="btn__text">
                            Markets
                        </span>
                    </a>
                    <a class="btn btn--sm type--uppercase"  href="/search?q=development">
                        <span class="btn__text">
                            Development
                        </span>
                    </a>
                    <a class="btn btn--sm type--uppercase"  href="/search?q=government">
                        <span class="btn__text">
                            Government
                        </span>
                    </a>
                  </div>
                        <div class="col-md-4">
                          <div id="search-form"></div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div id="post-data-display"></div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class Posts extends React.Component {
        constructor(props) {
            super(props);
            canShowEditPanel: false;
        }

        /*
         Returns a URL that links to the page for display details about a post.
         */
        getPostDataDetailsUrl() {
            return "/view-post/" + this.props.posts.post_id;
        }

        render() {
            console.log(this.props.posts);
        
            return (
                <div key={this.props.posts.post_id} className="col-sm-3 masonry__item" data-masonry-filter={""+this.props.posts.tag_name}>
                  <div className="card card-1 boxed boxed--sm boxed--border">
                      <div className="card__top">
                            <div className="card__avatar">
                                <a href={this.getPostDataDetailsUrl()}> 
                                    <span><strong>{this.props.posts.title}</strong></span>
                                </a>
                                <br/>
                                <div class="card__action">Tag: {this.props.posts.tag_name}</div>
                            </div>
                      </div>

                      <div className="card__body">
                            <a href={this.getPostDataDetailsUrl()}> 
                                <img src={"/static/img/Home_cover.jpg"} alt="Image" className="border--round"/> 
                            </a>
                            <p> 
                                {this.props.posts.body ? this.props.posts.body.substring(0, 60) + "..." : 
                                <i>Post body goes here.</i>} 
                            </p>
                      </div>

                      <div className="card__bottom">
                          <ul className="list-inline">
                              <li>
                                  <div className="card__action">
                                        <span>{this.props.posts.created_at}</span> 
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            );
        }
    }

    class PostDataGrid extends React.Component {
        constructor(props) {
            super(props);

            this.state = {posts: []};
        }

        componentDidMount() {
            this.fetchposts();
        }

        fetchposts() {
            console.log('Loading post data...');
            const requestUrl = apiUrl + '/posts';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, post data have successfully been retrieved from
                     the server. We store them in this component's state variable called `posts`
                     */
                    data = JSON.parse(data);
                    const posts = data.data.posts;
                    console.log('Posts: ', posts)
                    this.setState({posts: posts});
                }.bind(this)
            })
        }

        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                return (
                      <h3>Retrieving post data...</h3>
                );
            }
            else {
                let postdataCards = [];

                this.state.posts.forEach(function (postdata) {
                    postdataCards.push(<Posts posts={postdata} key={postdata.post_id}/>);
                });

                if (postdataCards.length == 0) {
                    postdataCards = (
                        <div className="text-center"><i>No posts have been submitted yet!</i></div>
                    )
                }

                return (
                    <div>{postdataCards}</div>
                );
            }
        }
    }

    class SearchForm extends React.Component {
        constructor(props) {
            super(props);
            this.state = {query: ""};

            // Bind event handlers.
            this.queryChanged = this.queryChanged.bind(this);
            this.formSubmitted = this.formSubmitted.bind(this);
        }

        queryChanged(e) {
            this.setState({query: e.target.value});
        }

        formSubmitted(e) {
            e.preventDefault();
            if (this.state.query.length > 0) {
                console.log('formSubmitted');
                window.location = baseUrl + '/search?q=' + this.state.query;
            }
        }

        render() {
            return (
                    <form onSubmit={this.formSubmitted}>
                        <input type="search" placeholder="Search..." name="query" onChange={this.queryChanged}/>
                    </form>
            );
        }
    }

    ReactDOM.render(<SearchForm/>, document.getElementById('search-form'));
    ReactDOM.render(<PostDataGrid />, document.getElementById('post-data-display'));

</script>
{%end%}
