{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | Post Data</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <br/><br/><h2>Stears Post Data</h2>
            <ol class="breadcrumbs">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>Manage Post Data</li>
            </ol>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
          <div id="post-data-display"></div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class Posts extends React.Component {
        constructor(props) {
            super(props);
            canShowEditPanel: false,
            this.handleDelete = this.handleDelete.bind(this);
        }

        deletePostData(postId) {
            const requestUrl = apiUrl + '/posts/' + postId;

            // NOTICE: The type of request we're sending here is a 'DELETE' request.
            $.ajax({
                url: requestUrl,
                crossDomain: true,
                type: 'DELETE',
                dataType: 'text',
                processData: false,
                contentType: "application/json; charset=utf-8",

                // Pass the current/active tag ID as the data. Remember that the
                // tag ID is passed to this component as a property during it's creation
                data: JSON.stringify({"id": postId}),

                // Reload page if AJAX request was successful.
                success: function (data, status) {
                    console.log(data, status);
                    window.location = '/posts';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        /*
         Handler for when delete button is clicked.
         */
        handleDelete(event) {
            event.preventDefault();

            // Display confirmation message before sending AJAX request.
            if (confirm("Are you sure you want to delete this record?")) {
                this.deletePostData(this.props.posts.post_id);
            }
        }

        getEditPostDataUrl(){
            return '/postdata/edit/' + this.props.posts.post_id;
        }

        /*
         Returns a URL that links to the page for display details about a post.
         */
        getPostDataDetailsUrl() {
            return "/view-post/" + this.props.posts.post_id;
        }

        render() {
            console.log(this.props.posts);

            // Create HTML elements for the Edit and Delete buttons.
            const editButton = (<a href={this.getEditPostDataUrl()}>Edit</a>);
            const deleteButton = (<a href='#' onClick={this.handleDelete}>Delete</a>);

            return (
                    <tr>
                        <td>{this.props.posts.post_id}</td>
                        <td>
                            <a href={this.getPostDataDetailsUrl()}>
                                {this.props.posts.title}
                            </a>
                        </td>
                        <td>{this.props.posts.body}</td>
                        <td>{this.props.posts.tag_name}</td>
                        <td>{this.props.posts.posted_by}</td>
                        <td>{this.props.posts.created_at}</td>
                        <td className="text-center">{editButton}</td>
                        <td className="text-center">{deleteButton}</td>
                    </tr>
            );
        }
    }

    class PostDataGrid extends React.Component {
        constructor(props) {
            super(props);

            this.state = {posts: []};
        }

        componentDidMount() {
            this.fetchposts();
        }

        fetchposts() {
            console.log('Loading post data...');
            const requestUrl = apiUrl + '/posts';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, post data have successfully been retrieved from
                     the server. We store them in this component's state variable called `posts`
                     */
                    data = JSON.parse(data);
                    const posts = data.data.posts;
                    console.log('Posts: ',posts)
                    this.setState({posts: posts});
                }.bind(this)
            })
        }

        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                return (
                      <h3>Retrieving post data...</h3>
                );
            }
            else {
                let postdataCards = [];

                this.state.posts.forEach(function (postdata) {
                    postdataCards.push(<Posts posts={postdata} key={postdata.post_id}/>);
                });

                if (postdataCards.length == 0) {
                    postdataCards = (
                        <div className="text-center"><i>No posts have been submitted yet!</i></div>
                    )
                }

                return (
                        <table className="table" cellSpacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Tag</th>
                                <th>Posted By</th>
                                <th>Timestamp</th>
                                <th colSpan="2">Actions</th>
                            </tr>
                            </thead>
                            <tbody>{postdataCards}</tbody>
                        </table>
                );
            }
        }
    }

    ReactDOM.render(<PostDataGrid />, document.getElementById('post-data-display'));

</script>
{%end%}
