{% extends "stack-WF.html" %}

{% block title %}
<title>Stears | Profile</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg">
    </div>
    <div class="container">
        <div class="row">
            <br/><h2>Welcome, <br/><span><b>{{user['display_name']}}</b></span></h2>
        </div>
    </div>
</section>

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="boxed boxed--lg boxed--border">
                    <div class="text-block text-left">
                        <span class="h5">{{user['display_name']}}</span>
                        <span><b>Role:</b> {{user['role']}}</span><br/>
                    </div>
                    <hr>
                    <div class="text-block">
                        <ul class="menu-vertical">
                            <li>
                                <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-request-history;hidden">All Posts</a>
                            </li>
                            <li>
                                <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-change-password;hidden">Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="boxed boxed--lg boxed--border">
                    <div id="account-request-history" class="account-tab">
                        <h4 class="type--uppercase">My Posts</h4>
                        <hr class="short">
                        <div class="row">
                            <div id="request-history-grid" class="col-md-12"></div>
                        </div>
                    </div>

                    <div id="account-change-password" class="hidden account-tab">
                        <h4 class="type--uppercase">Change Password</h4>
                        <hr class="short">
                        <p>Passwords must be at least 6 characters in length.</p>
                        <div id="account-details-grid"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% end %}


{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">
    //REQUESTS HISTORY
    class PostRequestRow extends React.Component {
        constructor(props) {
            super(props);
            canShowEditPanel: false,
            this.handleDelete = this.handleDelete.bind(this);
        }

        /*
            Complete a given post request
        */
         deletePostData(postId) {
            const requestUrl = apiUrl + '/posts/' + postId;

            // NOTICE: The type of request we're sending here is a 'DELETE' request.
            $.ajax({
                url: requestUrl,
                crossDomain: true,
                type: 'DELETE',
                dataType: 'text',
                processData: false,
                contentType: "application/json; charset=utf-8",

                // Pass the current/active tag ID as the data. Remember that the
                // tag ID is passed to this component as a property during it's creation
                data: JSON.stringify({"id": postId}),

                // Reload page if AJAX request was successful.
                success: function (data, status) {
                    console.log(data, status);
                    window.location = '/posts';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        /*
         Handler for when delete button is clicked.
         */
        handleDelete(event) {
            event.preventDefault();

            // Display confirmation message before sending AJAX request.
            if (confirm("Are you sure you want to delete this record?")) {
                this.deletePostData(this.props.posts.post_id);
            }
        }

        getEditPostDataUrl(){
            return '/postdata/edit/' + this.props.tagRequest.post_id;
        }

        getPostDataDetailsUrl() {
            return "/view-post/" + this.props.tagRequest.post_id;
        }

        render() {
            const rowColor = "info";

            // Create HTML elements for the Edit and Delete buttons.
            // const editButton = (<a href={this.getEditPostDataUrl()}>Edit</a>);
            const deleteButton = (<a href='#' onClick={this.handleDelete}>Delete</a>);
            
            return (
                <tr className={rowColor}>
                    <td>{this.props.tagRequest.post_id}</td>
                    <td>
                        <a href={this.getPostDataDetailsUrl()}>
                            {this.props.tagRequest.title}
                        </a>
                    </td>
                    <td>{this.props.tagRequest.body}</td>
                    <td>{this.props.tagRequest.created_at}</td>
                    <td className="text-center">
                        <a href={this.getEditPostDataUrl()}>
                            Edit
                        </a>
                    </td>
                    <td className="text-center">{deleteButton}</td>
                </tr>
            )
        }
    }

    class PostRequestsGrid extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                tagId: null,
                body: null,
                tagIdHasErrors: false,
                bodyHasErrors: false,
                formErrors: ""
            };
        }

        componentDidMount() {
            this.fetchRequests();
        }

        fetchRequests() {
            console.log('Loading post requests...');
            const requestUrl = apiUrl + '/requests';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    data = JSON.parse(data);
                    const tagRequests = data.data.requests;
                    this.setState({tagRequests: tagRequests}, function () {
                        console.log('Posts requests loaded.', tagRequests);
                    });
                }.bind(this)
            })
        }

        render() {
            let rows = [];
            if (this.state && this.state.tagRequests) {
                this.state.tagRequests.forEach(function (tagRequest) {
                    rows.push(<PostRequestRow tagRequest={tagRequest}
                                                 requestId={tagRequest.post_id}
                                                 onRowChange={this.fetchRequests.bind(this)}
                                                 key={tagRequest.post_id}/>);
                }, this);
            }

            if (rows.length == 0) {
                rows = (<tr>
                    <td colSpan="5" className="text-center"><i>You have not submitted any post</i></td>
                </tr>)
            }
            return (
                    <div className="row">
                        <div className="col-md-12">
                            <table className="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Body</th>
                                    <th>Created On</th>
                                    <th colSpan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {rows}
                                </tbody>
                            </table>
                        </div>
                    </div>
            )
        }
    }

    //CHANGE PASSWORD
    class ChangePassword extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                oldPassword: "",
                newPassword: "",
                newPasswordAgain: "",
                oldPasswordHasErrors: false,
                newPasswordHasErrors: false,
                newPasswordAgainHasErrors: false,
                formError: "",
                passwordChanged: false
            };

            this.handleOldPasswordChange = this.handleOldPasswordChange.bind(this);
            this.handleNewPasswordChange = this.handleNewPasswordChange.bind(this);
            this.handleNewPasswordAgainChange = this.handleNewPasswordAgainChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleOldPasswordChange(event) {
            this.setState({oldPassword: event.target.value});
        }

        handleNewPasswordChange(event) {
            this.setState({newPassword: event.target.value});
        }

        handleNewPasswordAgainChange(event) {
            this.setState({newPasswordAgain: event.target.value});
        }

        formIsValid() {
            this.setState({oldPasswordHasErrors: this.state.oldPassword.trim() == ''});
            this.setState({newPasswordHasErrors: this.state.newPassword.trim() == ''});
            this.setState({newPasswordAgainHasErrors: this.state.newPasswordAgain.trim() == ''});

            if (this.state.newPassword == this.state.newPasswordAgain && this.state.newPassword >= 6) {
                this.setState({formError: ''});
            }
            else if (this.state.newPassword.length < 6) {
                this.setState({formError: 'Password is too short'})
            }
            else if (this.state.newPassword != this.state.newPasswordAgain){
                this.setState({formError: 'New passwords do not match'});
            }
            const hasErrors = this.state.oldPasswordHasErrors || this.state.newPasswordHasErrors
                || this.state.newPasswordAgainHasErrors || this.state.formError.length > 0;

            return !hasErrors
        }

        handleSubmit(event) {
            $('#btn-update-pass').attr('disabled',true)
                                 .text('Changing Password...');

            event.preventDefault();
            this.setState({formError: ""});

            const proceed = this.formIsValid() && this.state.oldPassword.length > 0 &&
                this.state.newPassword.length >= 6 && this.state.newPassword == this.state.newPasswordAgain;

            if (proceed) {
                const requestUrl = apiUrl + "/password/update";
                const payload = {
                    oldPassword: this.state.oldPassword,
                    newPassword: this.state.newPassword,
                };
                console.log("Sending", payload, "to", requestUrl);
                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                        404: function () {
                            this.setState({invalidToken: true});
                            $('#btn-update-pass').attr('disabled',false)
                                                  .text('Update Password');
                        }.bind(this),
                        401: function () {
                            this.setState({formError: "Your current password is incorrect"});
                            $('#btn-update-pass').attr('disabled',false)
                                                  .text('Update Password');
                        }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success", data, textStatus);
                        $('#btn-update-pass').attr('disabled',false)
                                             .text('Update Password');

                        if (jqXHR.status == 200) {
                            this.resetState(function () {
                                console.log('State reset');
                                this.setState({passwordChanged: true});
                            });
                        }
                    }.bind(this),
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error", textStatus, errorThrown);
                    }.bind(this)
                });
            }
            else {
                $('#btn-update-pass').attr('disabled',false)
                                     .text('Update Password');
            }
        }

        resetState(whenFinished) {
            this.setState({
                oldPassword: "",
                newPassword: "",
                newPasswordAgain: "",
                oldPasswordHasErrors: false,
                newPasswordHasErrors: false,
                newPasswordAgainHasErrors: false,
                formError: "",
                passwordChanged: false
            }, whenFinished);
        }

        render() {
            const passwordChanged = this.state.passwordChanged;

            return (
                    <div>
                        {passwordChanged &&
                        <div className="alert alert-info">
                            <i className="fa fa-smile-o" aria-hidden="true"></i> Your password has been updated!
                        </div>
                        }
                        <div className="form">
                            {this.state.formError.length > 0 &&
                            <div className="alert alert-danger">
                                {this.state.formError}
                            </div>
                            }
                            <form role="form">
                              <div className="row">
                                <div className={this.state.oldPasswordHasErrors ? 'form-group has-error col-xs-12' : 'form-group col-xs-12'}>
                                      <label>Old Password:</label>
                                      <input type="password"
                                           id="oldPassword"
                                           name="oldPassword"
                                           placeholder="Current password"
                                           value={this.state.oldPassword}
                                           onChange={this.handleOldPasswordChange}/>
                                    {this.state.oldPasswordHasErrors &&
                                    <span className="help-block">Current password cannot be blank</span>}
                                </div>
                                <div className={this.state.newPasswordHasErrors ? 'form-group has-error col-xs-6' : 'form-group col-xs-6'}>
                                      <label>New Password:</label>
                                      <input type="password"
                                           id="newPassword"
                                           name="newPassword"
                                           value={this.state.newPassword}
                                           placeholder="New password"
                                           onChange={this.handleNewPasswordChange}/>
                                    {this.state.newPasswordHasErrors &&
                                    <span className="help-block">Password cannot be blank</span>}
                                </div>
                                <div className={this.state.newPasswordAgainHasErrors ? 'form-group has-error col-xs-6' : 'form-group col-xs-6'}>
                                      <label>Re-type New Password:</label>
                                      <input type="password"
                                           id="newPasswordAgain"
                                           name="newPasswordAgain"
                                           value={this.state.newPasswordAgain}
                                           placeholder="New password (again)"
                                           onChange={this.handleNewPasswordAgainChange}/>
                                    {this.state.newPasswordAgainHasErrors &&
                                    <span className="help-block">Password cannot be blank</span>}
                                </div>
                                <div className="col-md-6 col-sm-6">
                                    <button type="submit"
                                            id="btn-update-pass"
                                            className="btn btn--primary type--uppercase"
                                            onClick={this.handleSubmit}>
                                        Update Password
                                    </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
            )
        }
    }


   //MESSAGES
   class ReplyMessage extends React.Component {
     constructor(props) {
         super(props);
         this.state = {body: "", message_id: 1, messageSent: false, messageArchived: false};
         this.handleBodyChange = this.handleBodyChange.bind(this);
         this.handleSubmit = this.handleSubmit.bind(this);
         this.handleArchiveMessage = this.handleArchiveMessage.bind(this);
     }

     handleBodyChange(event) {
         this.setState({body: event.target.value});
     }

     handleArchiveMessage(event) {
          $('#btn-archive-message').attr('disabled',true)
                                 .text('Archiving Message...');

         event.preventDefault();
         console.log("Archiving message...");
         $.ajax({
             url: apiUrl + '/editor/message/' + this.props.message_id + '/archive/',
             type: "POST",
             success: function (data, textStatus, jqXHR) {
                 console.log("Message archived", data, textStatus, jqXHR);
                $('#btn-archive-message').attr('disabled',false)
                                        .text('Archive Message');

                 this.setState({messageArchived: true}, function () {
                     setTimeout(function () {
                         window.location = "/home";
                     }.bind(this), 2000);
                 });
             }.bind(this),
             error: defaultAJAXErrorHandler.bind(this)
         });
     }

     handleSubmit(event) {
          $('#btn-reply-message').attr('disabled',true)
                                .text('Replying Message...');

         event.preventDefault();
         if (this.state.body.length > 0) {
             const requestUrl = apiUrl + '/editor/message/' + this.props.message_id + '/reply/';
             const payload = this.state;

             console.log("Sending", payload, "to", requestUrl);
             $.ajax({
                 url: requestUrl,
                 data: payload,
                 type: "POST",
                 processData: true,
                 statusCode: {
                   404: function () {
                       console.log("Message sent to invalid endpoint", requestUrl);
                        $('#btn-reply-message').attr('disabled',false)
                                                .text('Reply Message');
                   },
                   401: function () {
                       this.setState({formErrors: "Please check your entries and try again."})
                        $('#btn-reply-message').attr('disabled',false)
                                                .text('Reply Message');
                   }.bind(this),
                   409: function () {
                       this.setState({formErrors: "This Message already exists"})
                        $('#btn-reply-message').attr('disabled',false)
                                                .text('Reply Message');
                   }.bind(this)
                 },
                 success: function (data, textStatus, jqXHR) {
                     console.log("Success", data, textStatus);
                     $('#btn-reply-message').attr('disabled',false)
                                            .text('Reply Message');

                     this.setState({messageSent: true}, function () {
                         setTimeout(function () {
                             window.location = "/home";
                         }.bind(this), 2000);
                     });
                 }.bind(this),
                 error: function (jqXHR, textStatus, errorThrown) {
                     console.log("Error");
                     if (jqXHR.status == 401) {
                         console.log('Operation Failed')
                        $('#btn-reply-message').attr('disabled',false)
                                                .text('Reply Message');
                     }
                     else if (jqXHR.status == 409) {
                         console.log('Operation Failed');
                        $('#btn-reply-message').attr('disabled',false)
                                                .text('Reply Message');
                     } else {
                         console.log(jqXHR, textStatus, errorThrown);
                        $('#btn-reply-message').attr('disabled',false)
                                                .text('Reply Message');
                     }
                 }.bind(this)
             });
         }
     }

     render(){
       if (this.state && this.state.messageSent) {
           return (<div className="alert alert-success">Message sent successfully!</div>)
       }
       else if (this.state.messageArchived) {
          return (<div className="alert alert-info">Message Archived!</div>)
       }
        return (
          <form role="form">
              <div className="row">
                  <div className="col-xs-12">
                      <textarea rows="2" name="body" placeholder="Type reply message here" onChange={this.handleBodyChange}></textarea>
                  </div>
                  <div className="col-sm-6">
                      <button type="submit" id="btn-reply-message" className="btn" onClick={this.handleSubmit}>Reply</button>
                  </div>
                  <div className="col-sm-6">
                      <button type="submit" id="btn-archive-message" className="btn btn--primary" onClick={this.handleArchiveMessage}>Archive Message</button>
                  </div>
              </div>
          </form>
        );
     }
   }

   class InboxRow extends React.Component {
     constructor(props) {
         super(props);
         this.showMessage = this.showMessage.bind(this);
     }

     showMessage() {
        //$(this).('.mask').toggle();
        $('.accordion__title').click(function(event){
          event.stopPropagation();
           $(this).next('.mask').toggle("slow");
         });
        //Handle Seen messages
        if (this.props.message.status == "new"){
            console.log("Reading message...");
            $.ajax({
                url: apiUrl + '/vendor/message/' + this.props.message_id + '/seen/',
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    console.log("Message read", data, textStatus, jqXHR);
                    if (jqXHR.status == 200) {
                        this.props.onRowChange();
                    }
                }.bind(this),
                error: defaultAJAXErrorHandler.bind(this)
            });
        }
     }

     render(){
        return (

                <li>
                    <div className="accordion__title" onClick = {this.showMessage}>
                      <span className={this.props.message.status == "new" ? "h4 color--new" : "h4 color--seen"}>{this.props.message.subject}</span>
                    </div>
                    <div className="mask">
                    <div className="col-md-12">
                      <div className="comment">
                          <div className="comment__body">
                              <h5 className="type--fine-print">Anne Brady</h5>
                              <div className="comment__meta">
                                  <span> {this.props.message.date}</span>
                              </div>
                              <p>
                                  {this.props.message.body}
                              </p>
                              <ReplyMessage message_id={this.props.message.message_id} />
                          </div>
                      </div>
                    </div>
                    </div>
                </li>
        );
     }
   }

   class InboxGrid extends React.Component {
     constructor(props) {
         super(props);
         this.state = {messages: null};
     }

     componentDidMount() {
         this.fetchMessages();
     }

     fetchMessages() {
         $.ajax({
             url: apiUrl + '/editor/message/list/inbox/',
             success: function (data) {
                 data = JSON.parse(data);
                 const messages = data.data.messages;
                 this.setState({messages: messages});
             }.bind(this),
             error: defaultAJAXErrorHandler.bind(this)
         })
     }

     render(){
       let rows = [];
       if (this.state && this.state.messages) {
           this.state.messages.forEach(function (message) {
               rows.push(<InboxRow message={message}
                                    message_id={message.message_id}
                                    onRowChange={this.fetchMessages.bind(this)}
                                    key={message.message_id}/>);
           }, this);
       }

       if (rows.length == 0) {
           rows = (<div className="text-center"><i>Inbox is empty</i></div>)
       }

       return (
          <div>
            {rows}
          </div>
       );
     }
   }

   class InboxNotification extends React.Component {
       constructor(props) {
           super(props);
           this.state = {messages: null};
       }

       componentDidMount() {
           this.fetchMessages();
       }

       fetchMessages() {
           $.ajax({
               url: apiUrl + '/editor/message/list/inbox/',
               success: function (data) {
                   data = JSON.parse(data);
                   const messages = data.data.messages;
                   this.setState({messages: messages});
               }.bind(this),
               error: defaultAJAXErrorHandler.bind(this)
           })
       }

       render(){
           let newMessagesCount = 0;
           if (this.state && this.state.messages) {
               this.state.messages.forEach(function (message) {
                   if (message.status == "new"){
                       newMessagesCount ++;
                   }
               }, this);
           }

           if (newMessagesCount > 0) {
             return(
                 <span className="indicator bg--primary-2">{newMessagesCount}</span>
             )
           }
           else {
               return(
                   <div></div>
               )
           }
       }
   }

    ReactDOM.render(<PostRequestsGrid />, document.getElementById('request-history-grid'));
    ReactDOM.render(<ChangePassword />, document.getElementById('account-details-grid'));
</script>

{% end %}
