{%extends "stack.html"%}

{% block title %}
<title>Stears | Search Posts</title>
{% end %}

{% block nav%}
  <div class="nav-container">
      <div>
          <div class="bar bar--sm visible-xs">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-3 col-sm-2">
                            <!-- <a href="/"> 
                                <img class="logo logo-dark" alt="logo" src="/static/img/logo.png"> 
                                <img class="logo logo-light" alt="logo" src="/static/img/logo.png"> 
                            </a> -->
                      </div>
                      <div class="col-xs-9 col-sm-10 text-right">
                          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                      </div>
                  </div>
              </div>
          </div>
          <nav id="menu1" class="bar bar-1 hidden-xs bg--dark bar--absolute bar--transparent">
              <div class="container">
                  <div class="row">
                      <div class="col-md-1 col-sm-2 hidden-xs">
                          <div class="bar__module">
                                <!-- <a href="/"> 
                                    <img class="logo logo-dark" alt="logo" src="/static/img/logo.png"> 
                                    <img class="logo logo-light" alt="logo" src="/static/img/logo.png"> 
                                </a> -->
                          </div>
                      </div>
                      <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                          <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    {% if not authenticated %}
                                    <li> <a href="/">Home</a> </li>
                                    <li> <a href="/signup">Sign up</a> </li>
                                    <li> <a href="/signin">Sign in</a> </li>
                                    {% else %}
                                    <li> <a href="/home">Home</a> </li>
                                    <li> <a href="/submit-data">Submit Post</a> </li>
                                    <li> <a href="/profile">Profile</a> </li>
                                    <li> <a href="/signout">Sign out</a> </li>
                                    {% end %}
                                </ul>
                          </div>
                      </div>

                  </div>
              </div>
          </nav>
      </div>
  </div>
  {% end%}


{% block jumbotron %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Search Results for <em>"{{ query }}"</em></h1>
                <input type="hidden" value="{{ query }}" name="query" id="query">
            </div>
        </div>
    </div>
</section>
{% end %}

{% block content%}
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="masonry masonry__tiles">
                  <div class="masonry-filter-container">
                        <div class="masonry-filter-holder" style="width: 100%">
                            <div class="bar__module">
                                <div class="col-md-9">
                                    <a class="btn btn--sm type--uppercase"  href="/search?q=microeconomic">
                                        <span class="btn__text">
                                            Microeconomic
                                        </span>
                                    </a>
                                    <a class="btn btn--sm type--uppercase"  href="/search?q=finance">
                                        <span class="btn__text">
                                            Finance
                                        </span>
                                    </a>
                                    <a class="btn btn--sm type--uppercase"  href="/search?q=markets">
                                        <span class="btn__text">
                                            Markets
                                        </span>
                                    </a>
                                    <a class="btn btn--sm type--uppercase"  href="/search?q=development">
                                        <span class="btn__text">
                                            Development
                                        </span>
                                    </a>
                                    <a class="btn btn--sm type--uppercase"  href="/search?q=government">
                                        <span class="btn__text">
                                            Government
                                        </span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <div id="search-form"></div>
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="row">
                      <div class="masonry__container">
                          <div id="post-display"></div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%end%}


{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">
    class Post extends React.Component {
        constructor(props) {
            super(props);
        }

        /*
         Returns a URL that links to the page for display details about a post.
         */
         getPostDataDetailsUrl() {
            return "/view-post/" + this.props.posts.post_id;
        }


        render() {
            console.log(this.props.posts);
        
            return (
                <div key={this.props.posts.post_id} className="col-sm-3 masonry__item" data-masonry-filter={""+this.props.posts.tag_name}>
                  <div className="card card-1 boxed boxed--sm boxed--border">
                      <div className="card__top">
                            <div className="card__avatar">
                                <a href={this.getPostDataDetailsUrl()}> 
                                    <span><strong>{this.props.posts.title}</strong></span>
                                </a>
                                <br/>
                                <div class="card__action">Tag: {this.props.posts.tag_name}</div>
                            </div>
                      </div>

                      <div className="card__body">
                            <a href={this.getPostDataDetailsUrl()}> 
                                <img src={"/static/img/Home_cover.jpg"} alt="Image" className="border--round"/> 
                            </a>
                            <p> 
                                {this.props.posts.body ? this.props.posts.body.substring(0, 60) + "..." : 
                                <i>Post body goes here.</i>} 
                            </p>
                      </div>

                      <div className="card__bottom">
                          <ul className="list-inline">
                              <li>
                                  <div className="card__action">
                                        <span>{this.props.posts.created_at}</span> 
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            );
        }
    }

    class PostGrid extends React.Component {
        constructor(props) {
            super(props);

            this.state = {posts: [],
            query: query};
        }

        componentDidMount() {
            this.fetchposts();
        }

        fetchposts() {
            console.log('Loading posts...');
            const requestUrl = apiUrl + '/search?q=' + this.state.query;

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, post records have successfully been retrieved from
                     the server. We store them in this component's state variable called `posts`
                     */
                    data = JSON.parse(data);
                    const posts = data.data.posts;
                    this.setState({posts: posts});
                }.bind(this)
            })
        }

        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                return (
                      <h3>Retrieving Posts...</h3>
                );
            }
            else {
                let postCards = [];

                this.state.posts.forEach(function (post) {
                    postCards.push(<Posts posts={post} key={post.post_id}/>);
                });

                if (postCards.length > 0) {
                  return (
                        <div>{postCards}</div>
                  );
                } else {
                    return (
                        <div className="container">
                            <div className="row text-center">
                                <h4><i>No result for this search... search another!</i></h4>
                            </div>
                        </div>
                    );
                }

            }
        }
    }


    const query = $('#query').val();
    console.log('Query is: ', query);


    class SearchForm extends React.Component {
        constructor(props) {
            super(props);
            this.state = {query: ""};

            // Bind event handlers.
            this.queryChanged = this.queryChanged.bind(this);
            this.formSubmitted = this.formSubmitted.bind(this);
        }

        queryChanged(e) {
            this.setState({query: e.target.value});
        }

        formSubmitted(e) {
            e.preventDefault();
            if (this.state.query.length > 0) {
                console.log('formSubmitted');
                window.location = baseUrl + '/search?q=' + this.state.query;
            }
        }

        render() {
            return (
                    <form onSubmit={this.formSubmitted}>
                        <input type="search" placeholder="Search..." name="query" onChange={this.queryChanged}/>
                    </form>
            );
        }
    }

    ReactDOM.render(<SearchForm/>, document.getElementById('search-form'));
    ReactDOM.render(<PostGrid query={query} />, document.getElementById('post-display'));

</script>
{%end%}
