{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | Editor Sign up</title>
{% end %}

{% block nav%}
  <div class="nav-container">
      <div>
          <div class="bar bar--sm visible-xs">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-3 col-sm-2">
                          <!-- <a href="/"> <img class="logo logo-dark" alt="logo" src="/static/img/logo.png">
                            <img class="logo logo-light" alt="logo" src="//static/img/logo-dark.png">
                          </a> -->
                      </div>
                      <div class="col-xs-9 col-sm-10 text-right">
                          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <nav id="menu2" class="bar bar-1 hidden-xs bar--absolute">
              <div class="container">
                  <div class="row">
                      <div class="col-md-1 col-sm-2 hidden-xs">
                          <div class="bar__module">
                              <!-- <a href="/"> 
                                <img class="logo logo-dark" alt="logo" src="/static/img/logo-dark.png">
                                <img class="logo logo-light" alt="logo" src="/static/img/logo.png">
                              </a> -->
                          </div>
                      </div>
                      <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                          <div class="bar__module">
                              <div class="col-md-12">
                              <ul class="menu-horizontal text-left">
                                  <li> <a href="/signin">Sign in</a> </li>
                              </ul>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </nav>
      </div>
  </div>
  {% end%}

{%block content%}
    <section class="space--xs imageblock switchable feature-large">
        <div class="imageblock__content col-md-6 col-sm-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="/static/stack/img/hero-1.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 pos-left">
                <div class="switchable__text">
                    <h2>Create an Editor <br/>account</h2>
                    <div id="editor-signup-form"></div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% end %}

{% block footer %}
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}


{% block components %}
<script type="text/babel">


    class EditorSignupForm extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                editorName: "",
                email: "",
                password: "",
                emailHasErrors: false,
                editorNameHasErrors: false,
                passwordHasErrors: false,
                formErrors: ""
            };

            this.handleEditorNameChange = this.handleEditorNameChange.bind(this);
            this.handleEmailChange = this.handleEmailChange.bind(this);
            this.handlePasswordChange = this.handlePasswordChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleEditorNameChange(event) {
            this.setState({editorName: event.target.value});
        }

        handleEmailChange(event) {
            this.setState({email: event.target.value});
        }

        handlePasswordChange(event) {
            this.setState({password: event.target.value});
        }

        formIsValid() {
            this.setState({editorNameHasErrors: this.state.editorName.trim() == ''});
            this.setState({emailHasErrors: this.state.email.trim() == ''});
            this.setState({passwordHasErrors: this.state.password.trim() == ''});

            const hasErrors = this.state.editorNameHasErrors || this.state.emailHasErrors
                || this.state.passwordHasErrors;

            return !hasErrors;
        }

        handleSubmit(event) {
            $('#btn-signup').attr('disabled',true)
                            .text('Registering New Account...');

            event.preventDefault();
            this.setState({formErrors: ""});

            if (this.formIsValid() && this.state.email.length > 0 && this.state.password.length >= 6) {
                const requestUrl = apiUrl + '/register/editor';
                const payload = this.state;

                $.ajax({
                    url: requestUrl,
                    data: payload,
                    type: "POST",
                    processData: true,
                    statusCode: {
                        404: function () {
                            console.log("Request sent to invalid endpoint", requestUrl);
                            $('#btn-signup').attr('disabled',false)
                                            .text('Create Account');
                        },
                        401: function () {
                            this.setState({formErrors: "Please check your entries and try again."})
                            $('#btn-signup').attr('disabled',false)
                                            .text('Create Account');
                        }.bind(this),
                        409: function () {
                            this.setState({formErrors: "Account already exists"})
                            $('#btn-signup').attr('disabled',false)
                                            .text('Create Account');
                        }.bind(this)
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log("Success");
                        console.log(data, textStatus, jqXHR);
                        if (jqXHR.status == 200) {
                            window.location = baseUrl + '/home';
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error");
                        if (jqXHR.status == 401) {
                            console.log('Operation Failed')
                            $('#btn-signup').attr('disabled',false)
                                            .text('Create Account');
                        } else {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    }
                });
            }
        }

        render() {
            return (
              <div className="form">
                  {this.state.formErrors.length > 0 &&
                  <div className="alert alert-danger">
                      {this.state.formErrors}
                  </div>
                  }
                    <form role="form">
                         <div className="row">
                            <div className={this.state.firstNameHasErrors ? 'has-error col-xs-12' : 'col-xs-12'}>
                                <input type="text" id="editorName" name="editorName"
                                       placeholder="Name" onChange={this.handleEditorNameChange}/>
                                {this.state.EditorNameHasErrors &&
                                <span className="help-block">Name cannot be blank</span>
                                }
                            </div>
                            <div className={this.state.emailHasErrors ? 'has-error col-xs-12' : 'col-xs-12'}>
                                <input type="email" id="email" name="email" placeholder="Email"
                                       onChange={this.handleEmailChange}/>
                                {this.state.emailHasErrors &&
                                < span className="help-block">Email cannot be blank</span>
                                }
                            </div>
                            <div className={this.state.passwordHasErrors ? 'has-error col-xs-12' : 'col-xs-12'}>
                                <input type="password" id="password" name="password"
                                       placeholder="Password" onChange={this.handlePasswordChange}/>
                                {this.state.passwordHasErrors &&
                                < span className="help-block">Password cannot be blank or less than 6+ characters!</span>
                                }
                            </div>

                            <div className="col-xs-12">
                                <button type="submit" id="btn-signup" className="btn btn--primary" onClick={this.handleSubmit}>Create Account</button>
                            </div>
                            <hr/>
                            <div className="col-xs-12"> <span className="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span> </div>
                        </div>
                    </form>
                </div>
            )
        }
    }


    ReactDOM.render(<EditorSignupForm />, document.getElementById('editor-signup-form'));

</script>
{%end%}
