<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <meta name="likebtn-website-verification" content="c369762328daf932" />

        {% block title %}
          <title>Login - Stears</title>
        {% end %}

        <link href="/static/stack/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/theme-tangerine.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/custom.css" rel="stylesheet" type="text/css" media="all" />

        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="/static/css/custom.css" rel="stylesheet" type="text/css" media="all" /> -->
        <link href="/static/css/font-roboto.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--ReactJS-->
        <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>

        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/flickity.min.js"></script>
        <script src="/static/js/easypiechart.min.js"></script>
        <script src="/static/js/parallax.js"></script>
        <script src="/static/js/typed.min.js"></script>
        <script src="/static/js/datepicker.js"></script>
        <script src="/static/js/isotope.min.js"></script>
        <script src="/static/js/ytplayer.min.js"></script>
        <script src="/static/js/lightbox.min.js"></script>
        <script src="/static/js/granim.min.js"></script>
        <script src="/static/js/jquery.steps.min.js"></script>
        <script src="/static/js/countdown.min.js"></script>
        <script src="/static/js/twitterfetcher.min.js"></script>
        <script src="/static/js/spectragram.min.js"></script>
        <script src="/static/js/smooth-scroll.min.js"></script>
        <script src="/static/js/scripts.js"></script>


        {% block dependencies %}
        {% end %}

        {% block styles %}
        {% end %}

    </head>
    <body data-smooth-scroll-offset="77" class = "dropdowns--hover">
      {% block authentication %}
      <script type="text/javascript">
          function sameOrigin(url) {
              // test that a given url is a same-origin URL
              // url could be relative or scheme relative or absolute
              var host = document.location.host; // host + port
              var protocol = document.location.protocol;
              var sr_origin = '//' + host;
              var origin = protocol + sr_origin;
              // Allow absolute or scheme relative URLs to same origin
              return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                  (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                  // or any other URL that isn't scheme relative or absolute i.e relative.
                  !(/^(\/\/|http:|https:).*/.test(url));
          }

          /**
           * Configure all AJAX requests going to the same origin to carry the
           * CSRF Token which Django uses for authentication.
           */
          $.ajaxSetup({
              beforeSend: function (xhr, settings) {
                  if (sameOrigin(settings.url)) {
                      // Only send the CSRF token to the same origin
                      // const token = Cookies.get("csrftoken"); // or, Cookies.get("_xsrf");
                      // xhr.setRequestHeader("X-CSRFToken", token);
                  }
              }
          });
      </script>
      {% end %}
      {% set authenticated = "user" in globals() and user is not None %}

      {% block nav%}
        <div class="nav-container">
          <nav class="bar bar-4 bar--transparent bar--absolute" data-fixed-at="200">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-2 col-md-offset-0 col-7">
                        <div class="bar__module">
                            <a href="/">
                                <!-- <h3>Stears Data</h3> -->
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-5 col-offset-2 ml-4">
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="/signout">
                                <span class="btn__text">Logout</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
          </nav>
        </div>
      {% end%}

      {% block jumbotron %}
      {% end %}

      {% block content %}
      <div class="main-container">
      {% end %}

      {% block footer %}
      {% end %}

      {% block libraries %}
      <!-- library imports go here. -->
      <script src="/static/js/vendor/js/app.js"></script>
      <!--<script src="https://use.fontawesome.com/d28b025371.js"></script>-->
      {% end %}

      {% block scripts %}
      {% end %}

      {% block components %}
      {% end %}

    </body>

</html>
