<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        {% block title %}
        <title>Stears</title>
        {% end %}

        <link rel="icon" href="favicon.ico">
        <link href="/static/stack/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/theme-tangerine.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/stack/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/font-roboto.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--ReactJS-->
        <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>


        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/stack/js/flickity.min.js"></script>
        <script src="/static/stack/js/datepicker.js"></script>
        <script src="/static/stack/js/isotope.min.js"></script>
        <script src="/static/stack/js/lightbox.min.js"></script>
        <script src="/static/stack/js/granim.min.js"></script>
        <script src="/static/stack/js/countdown.min.js"></script>
        <script src="/static/stack/js/spectragram.min.js"></script>
        <script src="/static/stack/js/smooth-scroll.min.js"></script>
        <script src="/static/stack/js/scripts.js"></script>



        {% block dependencies %}
        {% end %}

        {% block styles %}
        {% end %}

    </head>
    <body data-smooth-scroll-offset="77" class = "dropdowns--hover">
      {% block authentication %}
      <script type="text/javascript">
          function sameOrigin(url) {
              // test that a given url is a same-origin URL
              // url could be relative or scheme relative or absolute
              var host = document.location.host; // host + port
              var protocol = document.location.protocol;
              var sr_origin = '//' + host;
              var origin = protocol + sr_origin;
              // Allow absolute or scheme relative URLs to same origin
              return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                  (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                  // or any other URL that isn't scheme relative or absolute i.e relative.
                  !(/^(\/\/|http:|https:).*/.test(url));
          }

          /**
           * Configure all AJAX requests going to the same origin to carry the
           * CSRF Token which Django uses for authentication.
           */
          $.ajaxSetup({
              beforeSend: function (xhr, settings) {
                  if (sameOrigin(settings.url)) {
                      // Only send the CSRF token to the same origin
                      // const token = Cookies.get("csrftoken"); // or, Cookies.get("_xsrf");
                      // xhr.setRequestHeader("X-CSRFToken", token);
                  }
              }
          });
      </script>
      {% end %}
      {% set authenticated = "user" in globals() and user is not None %}

      {% block nav%}
        <div class="nav-container">
            <div>
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-">
                                <!-- <a href="/"> 
                                    <img class="logo logo-dark" alt="logo" src="/static/img/logo-dark.png">
                                    <img class="logo logo-light" alt="logo" src="/static/img/stears_logo.png">
                                </a> -->
                            </div>
                            <div class="col-xs-9 col-sm-10 text-right">
                                <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
                                  <i class="icon icon--sm stack-interface stack-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs bg--dark bar--absolute bar--transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 hidden-xs">
                                <div class="bar__module">
                                    <a href="/"> 
                                        <!-- <img class="logo logo-dark" alt="logo" src="/static/img/logo-dark.png">
                                        <img class="logo logo-light" alt="logo" src="/static/img/stears_logo.png"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        {% if not authenticated %}
                                        <li> <a href="/">Home</a> </li>
                                        <li> <a href="/signup">Sign up</a> </li>
                                        <li> <a href="/signin">Sign in</a> </li>
                                        {% else %}
                                        <li> <a href="/home">Home</a> </li>
                                        <li> <a href="/submit-data">Submit Post</a> </li>
                                        <li> <a href="/profile">Profile</a> </li>
                                        <li> <a href="/signout">Sign out</a> </li>
                                        {% end %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        {% end%}

        {% block jumbotron %}
        {% end %}

        {% block content %}
        <div class="main-container">
        {% end %}

        {% block footer %}
          <footer class="space--sm footer-1 text-center-xs bg--secondary">
              <div class="container">

                  <div class="row">
                      <div class="col-sm-7">
                          Made with <i class="icon-Heart"></i> by Abdulrazaq
                      </div>
                      <div class="col-sm-5 text-right text-center-xs">&copy; 2020. All right reserved.</div>
                  </div>
              </div>
          </footer>
        </div>
        {% end %}

        {% block libraries %}
        <!-- library imports go here. -->
        <script src="/static/js/vendor/js/app.js"></script>
        <!--<script src="https://use.fontawesome.com/d28b025371.js"></script>-->
        {% end %}

        {% block scripts %}
        {% end %}

        {% block components %}
        {% end %}

    </body>

</html>
