{% extends "stack-WF.html" %}

{% block title %}
<title>Stears | Tags</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg"> 
    </div>
    <div class="container">
        <div class="row">
            <br/><br/>
            <h2 id="admin">Stears Tags</h2>
            <ol class="breadcrumbs">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>Manage Tags</li>
            </ol>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row tag-forms">

            <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Add Tag</h3>
                      <hr class="short">
                  </div>
                  <div class="panel-body">
                      <form action="/tags" method="post">
                          <div class="form-group">
                              <label for="name">Tag Name</label>
                              <input type="text" id="name" name="name"
                                  placeholder="Tag name">
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-default btn--primary">Add Tag</button>
                          </div>
                      </form>
                  </div>
              </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">Tags</h3>
                <hr class="short">
            </div>

            <div id="tag-display"></div>
        </div>

    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">

    class Tags extends React.Component {
        constructor(props) {
            super(props);
            canShowEditPanel: false,
            this.handleDelete = this.handleDelete.bind(this);
        }

        deleteTag(tagId) {
            const requestUrl = apiUrl + '/tags/' + tagId;

            // NOTICE: The type of request we're sending here is a 'DELETE' request.
            $.ajax({
                url: requestUrl,
                crossDomain: true,
                type: 'DELETE',
                dataType: 'text',
                processData: false,
                contentType: "application/json; charset=utf-8",

                // Pass the current/active tag ID as the data. Remember that the
                // tag ID is passed to this component as a property during it's creation
                data: JSON.stringify({"id": tagId}),

                // Reload page if AJAX request was successful.
                success: function (data, status) {
                    console.log(data, status);
                    window.location = '/tags';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        /*
         Handler for when delete button is clicked.
         */
        handleDelete(event) {
            event.preventDefault();

            // Display confirmation message before sending AJAX request.
            if (confirm("Are you sure you want to delete this record?")) {
                this.deleteTag(this.props.tags.tag_id);
            }
        }

        getEditTagUrl(){
            return '/tag/edit/' + this.props.tags.tag_id;
        }

        render() {
            console.log(this.props.tags);

            // Truncate tag Description if too lengthy
            // if (this.props.tags.description.length >= 30){
            //   this.props.tags.description = this.props.tags.description.substring(0, 30) + "...";
            // }

            return (
              <div className="col-sm-3">
                <div className="feature feature-1 boxed boxed--border">
                      <h5>{this.props.tags.name}</h5>

                      <a href={this.getEditTagUrl()}>Edit</a> |
                      <a href="#" onClick={this.handleDelete}> Delete</a>

                </div>

              </div>
            );
        }
    }

    class TagGrid extends React.Component {
        constructor(props) {
            super(props);

            this.state = {tags: []};
        }

        componentDidMount() {
            this.fetchtags();
        }

        fetchtags() {
            console.log('Loading tags...');
            const requestUrl = apiUrl + '/tags';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    /*
                     At this point, tag records have successfully been retrieved from
                     the server. We store them in this component's state variable called `tags`
                     */
                    data = JSON.parse(data);
                    const tags = data.data.tags;
                    console.log('Tags: ', tags)
                    this.setState({tags: tags});
                }.bind(this)
            })
        }

        /*
         Renders our component
         */
        render() {
            if (this.state == null || this.state == undefined) {
                return (
                      <h3>Retrieving tags...</h3>
                );
            }
            else {
                let tagsCards = [];

                this.state.tags.forEach(function (tag) {
                    tagsCards.push(<Tags tags={tag} key={tag.tag_id}/>);
                });

                return (
                      <div>{tagsCards}</div>
                );
            }
        }
    }

    ReactDOM.render(<TagGrid />, document.getElementById('tag-display'));

</script>
{%end%}
