{% extends "stack-WF.html" %}

{% block title %}
<title>CRM | User Accounts</title>
{% end %}

{% block content %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> <img alt="background" src="/static/stack/img/hero-1.jpg"> </div>
    <div class="container">
        <div class="row">
            <br/><br/><h2>CRM User Accounts</h2>
            <ol class="breadcrumbs">
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>Manage User Accounts</li>
            </ol>
        </div>
    </div>
</section>

<div class="container" style="margin-top: 50px;">

    <h2>Akhi Users</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
        <tr>
            <td>{{u.email}}</td>
            <td>{{u.role}}</td>
            <td><a href="{this.getUserEditUrl()}">Edit</a></td>
            <td><a href="#" onClick={this.handleDelete}>Delete</a></td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% end %}


{% block components %}
<script type="text/babel">

    //USERS TABLE
    class UsersRow extends React.Component {
        constructor(props) {
            super(props);
            this.handleDelete = this.handleDelete.bind(this);
        }

        /*
         Returns a URL that links to the page for display details about a user.
         */
        /*editUserUrl() {
            return "/user/edit" + this.props.user.user_id;
        }

        /*
         Returns a URL that links to the page for display details about a user.
         */
        /*deleteUser() {
            return "/users/delete" + this.props.users.user_id;
        }*/

        render() {
            return ()
        }
    }

</script>
{% end %}
