{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | {{post.title}}</title>
{% end %}


{% block jumbotron %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumbs">
                    <li><a href="/home">back to Posts</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block content %}
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-8 col-md-offset-0">
                <h2>{{post.title}} <br/>
                    <span style="font-weight: bold; color: #977300">{{post.tag_name}}</span>
                </h2>

                <ul class="accordion accordion-2 accordion--oneopen">
                    <li><strong>Posted by: </strong>{{post.posted_by}}</li>
                    <li><strong>Created at: </strong>{{post.created_at}}</i></li><br />
                    <li><strong>Post Body: </strong><br />{{post.body}}</i></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
{% end %}
