{%extends "stack-WF.html" %}

{% block title %}
<title>Stears | View User - {{editor.name}}</title>
{% end %}


{% block jumbotron %}
<section class="imagebg" data-overlay="4">
    <div class="background-image-holder"> 
        <img alt="background" src="/static/stack/img/hero-1.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumbs">
                    <li><a href="/accounts">back to Users</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block content %}
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-4 col-md-offset-1">
                <h2>{{editor.name}} <br/><span style="font-weight: bold; color: #977300">Editor</span></h2>

                <ul class="accordion accordion-2 accordion--oneopen">
                    <li><strong>Email:</strong> {{editor.user.email}}</li>
                    <li><strong>Total Posts: </strong><i id="post-notification"></i></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-6">
                <div id="account-request-history" class="account-tab">
                    <div class="row">
                        <div id="request-history-grid" class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery loaded');
    });
</script>
{% end %}

{% block components %}
<script type="text/babel">
    //REQUESTS HISTORY
    class PostRequestRow extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {
            return (
                <tr>
                    <td>{this.props.tagRequest.post_id}</td>
                    <td>{this.props.tagRequest.title}</td>
                    <td>{this.props.tagRequest.body}</td>
                    <td>{this.props.tagRequest.tag}</td>
                    <td>{this.props.tagRequest.created_at}</td>
                </tr>
            )
        }
    }

    class PostRequestsGrid extends React.Component {
        constructor(props) {
            super(props);
        }

        componentDidMount() {
            this.fetchRequests();
        }

        fetchRequests() {
            console.log('Loading post requests...');
            const requestUrl = apiUrl + "/requests/view/" + {{editor.editor_id}};

            $.ajax({
                url: requestUrl,
                type: "GET",
                success: function (data) {
                    data = JSON.parse(data);
                    console.log('Data: ', data);
                    const tagRequests = data.data.requests;
                    this.setState({tagRequests: tagRequests}, function () {
                      console.log('Posts requests loaded.', tagRequests);
                    });
                }.bind(this)
            })
        }

        render() {
            let rows = [];
            if (this.state && this.state.tagRequests) {
                this.state.tagRequests.forEach(function (tagRequest) {
                    rows.push(<PostRequestRow tagRequest={tagRequest}
                                                 requestId={tagRequest.post_id}
                                                 onRowChange={this.fetchRequests.bind(this)}
                                                 key={tagRequest.post_id}/>);
                }, this);
            }

            if (rows.length == 0) {
                rows = (<tr>
                    <td colSpan="5" className="text-center"><i>You have not made any posts</i></td>
                </tr>)
            }
            return (
                <div className="row">
                    <div className="col-md-12">
                        <table className="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Post</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Timestamp</th>
                            </tr>
                            </thead>
                            <tbody>
                            {rows}
                            </tbody>
                        </table>
                    </div>
                </div>
            )
        }
    }


    class PostNotification extends React.Component {
        constructor(props) {
            super(props);
        }

        componentDidMount() {
            this.fetchRequests();
        }

        fetchRequests() {
            const requestUrl = apiUrl + '/requests';

            $.ajax({
                url: requestUrl,
                success: function (data) {
                    data = JSON.parse(data);
                    const requests = data.data.requests;
                    this.setState({requests: requests}, function () {
                    });
                }.bind(this),
                error: defaultAJAXErrorHandler.bind(this)
            })
        }

        render(){
            let requestCount = 0;
            if (this.state && this.state.requests) {
                this.state.requests.forEach(function (request) {
                    if (request.status == "complete"){
                        console.log("Count: ", request.status);
                        requestCount ++;
                    }
                }, this);
            }

            if (requestCount > 0) {
              return(
                  <span className="indicator bg--primary-2">{requestCount}</span>
              )
            }
            else {
                return(
                    <i>Don't have post yet!</i>
                )
            }
        }
    }


    ReactDOM.render(<PostRequestsGrid />, document.getElementById('request-history-grid'));
    ReactDOM.render(<PostNotification/>, document.getElementById('post-notification'));

</script>
{% end %}
