/*! Place your custom styles here */
ul.nav-pills li.active a, ul.nav-pills li.active a:hover{
  background: #f18f01;
}

i.icon-Heart{
  color: #ea0808;
}
.accordion .color--seen {
  color: #333;
  opacity: .7;
}
.accordion .color--new {
  color: #000;
  opacity: 1;
}
.accordion .accordion__title {
  opacity: .9;
}
.accordion .accordion__title h4 {
  margin-bottom: 0;
  display: inline;
  float: left;
}
.accordion .accordion__title .h4:hover {
  text-decoration: underline;
}
.accordion .accordion__title:before, .accordion li.active .accordion__title:before {
  content: none;
}
.accordion li.active .accordion__content {
  border: none;
  border-bottom: 1px solid #cecece;
  margin-bottom: 32px;
	padding-bottom: 30px;
}
.accordion__title .conversation__avatar {
  position: relative;
  top: 0.62857143em;
  right: 0.9em;
}
div.notification-close-cross {
  color: #fff;
}

.mask {
    position : relative;
    width : 100%;
    height : 100%;
    display : none;
}

.bid-div {
  min-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 100;
}
.bid-bg-div {
  z-index: 100;
}

.favorite_icon{
  cursor: pointer;
}

.review-form {
  border: 1px solid #ccc;
  z-index: 100;
}

[data-gradient-bg] {
    background: #000;
}

footer.space--sm {
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.icon--lg {
    color: #977300;
}

.color--primary {
    color: #000 !important;
}

i.icon-Heart {
    color: #977300;
}

.imagebg:not(.image--light) h2 {
    margin-bottom: 20px;
}

.column1 {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.column2 {
  float: left;
  width: 50%;
}

.imagebg .breadcrumbs, .bg--primary .breadcrumbs {
    color: #fff;
}

.btn--primary, .btn--primary:visited {
    background: #977300 !important;
    border-color: #977300 !important;
}

.btn--primary:hover {
    background: #ae870d;
    border-color: rgb(174, 135, 13);
}

a {
    color: #977300;
}

a:hover {
    color: #ae870d;
    text-decoration: none;
  }

hr.short {
    border-color: #977300 !important;
}

div#accounts-table {
    margin: 0px auto;
}

input[type]:focus, select:focus, textarea:focus {
    border-color: #977300;
}

a:focus {
  color: #ae870d;
}

.card__action {
  font-size: 12px;
}