.bar .logo {
    max-height: 2.6em;
    top: 4px;
}

.btn--primary, .btn--primary:visited {
    background: #977300;
    border-color: #977300;
}

.btn--primary:hover {
    background: #ae870d;
    border-color: rgb(174, 135, 13);
}

.btn--primary .btn__text, .btn--primary:visited .btn__text {
    color: #040404;
}

.bar--transparent:not(.bar--dark):not(.pos-fixed) .btn:not([class*='primary']) {
    border-color: rgb(151, 115, 0);
    background: rgb(151, 115, 0);
}

.btn .btn__text, .btn i {
    color: #fff;

}
button.btn.btn--primary, input[type="submit"].btn.btn--primary {
    color: #fff;
}


@media (max-width: 767px){

  .bar-4 .logo-light {
      display: block;
  }
  .bar{
        background: #040404;
  }

}
@media (min-width: 1200px)
  {
  .container {
      max-width: 1300px;
  }
}


.bg--dark {
    background: #000000;
}

.scrollit {
  height:75vh;
  overflow-y:scroll;
}

.help-block {
    color: #dc3545;
}

h6#reg-success {
    color: #3B783B;
    line-height: 20px;
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
}

button#btn-signin {
    margin-bottom: 40px;
}

button#btn-submit {
    margin-top: 40px;
}

@media (max-width: 767px) {
    .btn .btn__text, .btn i {
        color: #fff;
    }

    a.btn.btn--sm.type--uppercase{
        width: 200px;
    }
}

#parent {
    display: table;
    width: 100%;
}

#login-form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

hr#breaker {
    margin-left: 60px;
}

hr.short {
    border-color: #977300;
}

[data-gradient-bg] {
    background: #000;
}

@media (max-height: 728px) {
  .imageblock > .container {
    padding-top: 3em;
    padding-bottom: 0em;
  }
}
